force-app/main/default/flows/ACC_RTFL02_Manually_Create_BUSA_records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Sets the record values to create a Business Unit Specific Attribute.</description>
        <name>assSetRecordValues</name>
        <label>assSetRecordValues</label>
        <locationX>264</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>srBusaRecord.AccountRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>srBusaRecord.BusinessUnit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpBusinessUnitsMeta.MasterLabel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>srBusaRecord.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpBusinessUnitsMeta.BusinessUnitTranslation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcBusinessUnitSpecificAttributes</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>srBusaRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpBusinessUnitsMeta</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifies whether there are any associated records for Business Unit Specific Attributes linked to the account.</description>
        <name>dcsBusaRecordsFound</name>
        <label>dcsBusaRecordsFound</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>getCustomMetaDataBusinessUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRecordsFound</defaultConnectorLabel>
        <rules>
            <name>BusaRecordsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getBusaRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruResetAutomationTrigger</targetReference>
            </connector>
            <label>BusaRecordsFound</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element verifies whether any metadata records have been located.</description>
        <name>dcsBusinessUnitsFound</name>
        <label>dcsBusinessUnitsFound</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>ruResetAutomationTrigger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoRecordsFound</defaultConnectorLabel>
        <rules>
            <name>BusinessUnitsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCustomMetaDataBusinessUnit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpBusinessUnitsMeta</targetReference>
            </connector>
            <label>BusinessUnitsFound</label>
        </rules>
    </decisions>
    <description>This flow manualyy generates Business Unit Specific Attribute (BUSA) records whenever a Account.IsBusaAutomationTrig__c is set. It ensures that relevant BUSA information is established and linked to the account.</description>
    <environments>Default</environments>
    <interviewLabel>ACC - RTFL02 - Manually Create BUSA records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - RTFL02 - Manually Create BUSA records</label>
    <loops>
        <description>Loops over all the Business Units to create Business Unit Specific Attributes</description>
        <name>lpBusinessUnitsMeta</name>
        <label>lpBusinessUnitsMeta</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <collectionReference>getCustomMetaDataBusinessUnit</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assSetRecordValues</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>crBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the collection of Business Unit Specific Attribute.</description>
        <name>crBusinessUnitSpecificAttributes</name>
        <label>crBusinessUnitSpecificAttributes</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>ruResetAutomationTrigger</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fc02FaultConnectorCreateBUSA</targetReference>
        </faultConnector>
        <inputReference>rcBusinessUnitSpecificAttributes</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Verifies whether there are any associated records for Business Unit Specific Attributes linked to the account.</description>
        <name>getBusaRecords</name>
        <label>getBusaRecords</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsBusaRecordsFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fc01GetBusaRecords</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the Custom Meta Data records associated with the Business Unit in order to generate individual entries.</description>
        <name>getCustomMetaDataBusinessUnit</name>
        <label>getCustomMetaDataBusinessUnit</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsBusinessUnitsFound</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnits__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Resets the IsBusaAutomationTrig__c to false.</description>
        <name>ruResetAutomationTrigger</name>
        <label>ruResetAutomationTrigger</label>
        <locationX>176</locationX>
        <locationY>1571</locationY>
        <faultConnector>
            <targetReference>fc03ResetAutomationTrigger</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsBusaAutomationTrig__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getBusaRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsBusaAutomationTrig__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsBusaAutomationTrig__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This element will sent a message when an error occurs in this flow.</description>
        <name>fc01GetBusaRecords</name>
        <label>Fault Connector</label>
        <locationX>1144</locationX>
        <locationY>431</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - RTFL02 - Manually Create BUSA records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This element will sent a message when an error occurs in this flow.</description>
        <name>fc02FaultConnectorCreateBUSA</name>
        <label>Fault Connector</label>
        <locationX>440</locationX>
        <locationY>1163</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - RTFL02 - Manually Create BUSA records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This element will sent a message when an error occurs in this flow.</description>
        <name>fc03ResetAutomationTrigger</name>
        <label>Fault Connector</label>
        <locationX>880</locationX>
        <locationY>1679</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - RTFL02 - Manually Create BUSA records</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.Username</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Record collections with to create Business Unit Specific Attributes</description>
        <name>rcBusinessUnitSpecificAttributes</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
    <variables>
        <description>Single record variable for Business Unit Specific Attribute</description>
        <name>srBusaRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
</Flow>
