force-app/main/default/flows/Account_SCFL04_Create_New_Meeting_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Navigates to the account record.</description>
        <name>acNavigateAccount</name>
        <label>acNavigateAccount</label>
        <locationX>578</locationX>
        <locationY>2594</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>acNavigateToReport</name>
        <label>acNavigateToReport</label>
        <locationX>314</locationX>
        <locationY>2594</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>rcNewMeetingReport</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>view</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>Resets all the values of the dummy record.</description>
        <name>assCleanDummyRecord</name>
        <label>assCleanDummyRecord</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <assignmentItems>
            <assignToReference>varDummyAttendee.HeijmansContactUserRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDummyAttendee.IsUserNotFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDummyAttendee.HeijmansContactContactRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varDummyAttendee.ContactRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrAddAttendees</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets all the values for an external attendee.</description>
        <name>assExternalAttendee</name>
        <label>assExternalAttendee</label>
        <locationX>512</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varExternalAttendee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getExternalAttendeeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExternalAttendee.MeetingReportRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcNewMeetingReport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varExternalAttendee.ContactRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDummyAttendee.ContactRef__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colInternalAttendees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varExternalAttendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrAddAnotherInternalAttendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets all the values for an internal attendee.</description>
        <name>assInternalAttendee</name>
        <label>assInternalAttendee</label>
        <locationX>248</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>varInternalAttendee.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getInternalAttendeeRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalAttendee.MeetingReportRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcNewMeetingReport</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalAttendee.HeijmansContactUserRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDummyAttendee.HeijmansContactUserRef__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalAttendee.IsUserNotFound__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDummyAttendee.IsUserNotFound__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varInternalAttendee.HeijmansContactContactRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varDummyAttendee.HeijmansContactContactRef__r.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colInternalAttendees</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varInternalAttendee</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrAddAnotherInternalAttendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Rich text needs to be set in a variable before it can be updated in a record.</description>
        <name>assRichTextInput</name>
        <label>assRichTextInput</label>
        <locationX>578</locationX>
        <locationY>2162</locationY>
        <assignmentItems>
            <assignToReference>getNewMeetingReport.Notes__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rtMeetingReport.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ruUpdateMeetingReport</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Sets up a dummy record to leverage the lookup filter within the Attendee object.</description>
        <name>assSetUpDummy</name>
        <label>assSetUpDummy</label>
        <locationX>1205</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>varDummyAttendee.MeetingReportRef__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rcNewMeetingReport</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>rcSetupInitialAttendee</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if another attendee needs to be added.</description>
        <name>dcsAddExtraAttendee</name>
        <label>dcsAddExtraAttendee</label>
        <locationX>512</locationX>
        <locationY>1730</locationY>
        <defaultConnector>
            <targetReference>rcCreateInternalAttendees</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>btnContinueAttendeeEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnContinueAttendeeNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assCleanDummyRecord</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the internal record type was found.</description>
        <name>dcsInternalAttendeeRecordTypeFound</name>
        <label>dcsInternalAttendeeRecordTypeFound</label>
        <locationX>1205</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Attendee_Record_Types_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getInternalAttendeeRecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getExternalAttendeeRecordType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrAddAttendees</targetReference>
            </connector>
            <label>Attendee Record Types Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the contact is internal of external</description>
        <name>dcsInternalOrExternal</name>
        <label>dcsInternalOrExternal</label>
        <locationX>512</locationX>
        <locationY>1322</locationY>
        <defaultConnectorLabel>Cancel</defaultConnectorLabel>
        <rules>
            <name>Internal</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>HeijmansContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Company_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnAddAttendeeEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnAddAttendeeNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assInternalAttendee</targetReference>
            </connector>
            <label>Internal</label>
        </rules>
        <rules>
            <name>External</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>HeijmansContact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Company_Contact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnAddAttendeeEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnAddAttendeeNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Add</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assExternalAttendee</targetReference>
            </connector>
            <label>External</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the meeting report is correctly created.</description>
        <name>dcsMeetingReportFound</name>
        <label>dcsMeetingReportFound</label>
        <locationX>1815</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Meeting_Report_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getNewMeetingReport</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assSetUpDummy</targetReference>
            </connector>
            <label>Meeting Report Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the account or meeting report needs to be opened.</description>
        <name>dcsOpenRecord</name>
        <label>dcsOpenRecord</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>acNavigateToReport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Report</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>btnSaveReportEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>View report</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnSaveReportNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>View report</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acNavigateToReport</targetReference>
            </connector>
            <label>Report</label>
        </rules>
        <rules>
            <name>Account</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>btnSaveReportEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go to account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnSaveReportNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Go to account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>acNavigateAccount</targetReference>
            </connector>
            <label>Account</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the Record Type Id is found.</description>
        <name>dcsRecordTypeIdFound</name>
        <label>dcsRecordTypeIdFound</label>
        <locationX>2516</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Record_Type_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRecordTypeId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rcNewMeetingReport</targetReference>
            </connector>
            <label>Record Type Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the user wants to save the report.</description>
        <name>dcsSaveReport</name>
        <label>dcsSaveReport</label>
        <locationX>974</locationX>
        <locationY>2054</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrAddAnotherInternalAttendee</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Back</defaultConnectorLabel>
        <rules>
            <name>Save_Report</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>btnSaveReportEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnSaveReportNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Save</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assRichTextInput</targetReference>
            </connector>
            <label>Save Report</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>fmToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <formulas>
        <name>varEndURLMeetingReport</name>
        <dataType>String</dataType>
        <expression>{!varSetOrgBaseURLwithMeetingReport}&amp;&quot;/lightning/r/Gespreksverslag__c/&quot;&amp;{!rcNewMeetingReport}&amp;&quot;/view&quot;</expression>
    </formulas>
    <formulas>
        <name>varSetOrgBaseURLwithMeetingReport</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_260}, FIND( &apos;/services&apos;, {!$Api.Partner_Server_URL_260}))</expression>
    </formulas>
    <interviewLabel>Account - SCFL04 - Create New Meeting Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - SCFL04 - Create New Meeting Report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Creates all the attendees that were added in the record collection.</description>
        <name>rcCreateInternalAttendees</name>
        <label>rcCreateInternalAttendees</label>
        <locationX>974</locationX>
        <locationY>1838</locationY>
        <connector>
            <targetReference>scrWriteMeetingReport</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcCreateInternalAttendees</targetReference>
        </faultConnector>
        <inputReference>colInternalAttendees</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Creates the base meeting report that the users will fill out in the screens.</description>
        <name>rcNewMeetingReport</name>
        <label>rcNewMeetingReport</label>
        <locationX>1815</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>getNewMeetingReport</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcRcNewMeetingReport</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>AccountRef__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date__c</field>
            <value>
                <elementReference>fmToday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>getRecordTypeId.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Gespreksverslag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creation of a dummy record that can be used in screens.</description>
        <name>rcSetupInitialAttendee</name>
        <label>rcSetupInitialAttendee</label>
        <locationX>1205</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>getInternalAttendeeRecordType</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcRcSetupInitialAttendee</targetReference>
        </faultConnector>
        <inputReference>varDummyAttendee</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Gets the record type associated to the external attendee.</description>
        <name>getExternalAttendeeRecordType</name>
        <label>getExternalAttendeeRecordType</label>
        <locationX>1205</locationX>
        <locationY>998</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsInternalAttendeeRecordTypeFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ExternalContact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type associated to the internal attendee.</description>
        <name>getInternalAttendeeRecordType</name>
        <label>getInternalAttendeeRecordType</label>
        <locationX>1205</locationX>
        <locationY>890</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getExternalAttendeeRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalContact</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Retrieves the meeting report to store in a variable that is used in the screens.</description>
        <name>getNewMeetingReport</name>
        <label>getNewMeetingReport</label>
        <locationX>1815</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsMeetingReportFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcgetNewMeetingReport</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rcNewMeetingReport</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Gespreksverslag__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the record type id of the type Meeting Report</description>
        <name>getRecordTypeId</name>
        <label>getRecordTypeId</label>
        <locationX>2516</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsRecordTypeIdFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MeetingReport</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Sets the final values of the meeting report.</description>
        <name>ruUpdateMeetingReport</name>
        <label>ruUpdateMeetingReport</label>
        <locationX>578</locationX>
        <locationY>2270</locationY>
        <connector>
            <targetReference>scrSuccesScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcUpdateMeetingReport</targetReference>
        </faultConnector>
        <inputReference>getNewMeetingReport</inputReference>
    </recordUpdates>
    <screens>
        <name>scrAddAnotherInternalAttendee</name>
        <label>scrAddAnotherInternalAttendee</label>
        <locationX>512</locationX>
        <locationY>1622</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsAddExtraAttendee</targetReference>
        </connector>
        <fields>
            <name>HeijmansLogo_004</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtAddAnotherAttendee</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Would you like to add another attendee to the meeting report?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnContinueAttendeeEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add new attendee&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;No, continue&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnContinueAttendeeNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Aanwezige toevoegen&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Nee, doorgaan&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_right&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrAddAttendees</name>
        <label>scrAddAttendees</label>
        <locationX>512</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsInternalOrExternal</targetReference>
        </connector>
        <fields>
            <name>HeijmansLogo_003</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtAddInternalAttendees</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Would you like to add a Heijmans contact or a company contact?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrAddAttendees_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrAddAttendees_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrAddAttendees_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HeijmansContact</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Heijmans Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrAddAttendees_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Company_Contact</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Company Contact</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrAddAttendees_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>2</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Heijmans_Contact_Header</name>
            <fieldText>Heijmans Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Heijmans_Contact_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDummyAttendee.HeijmansContactUserRef__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDummyAttendee.IsUserNotFound__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDummyAttendee.HeijmansContactContactRef__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>HeijmansContact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Company_Contact_Header</name>
            <fieldText>Company Contact</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Company_Contact_Header_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>varDummyAttendee.ContactRef__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Company_Contact</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnAddAttendeeEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Add&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnAddAttendeeNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Stop&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Toevoegen&quot;,&quot;value&quot;:&quot;Add&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:adduser&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrErrorScreen</name>
        <label>scrErrorScreen</label>
        <locationX>2954</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>HeijmansLogo_006</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;﻿Oops, something just went wrong. Please review the error message:&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;Error:&lt;/strong&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;  {!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;Error Time:&lt;/strong&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; {!$Flow.CurrentDateTime}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;In the mean time we&apos;ve already created a bug record. So your administrator has been noticed as well. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows that the operation was successful.</description>
        <name>scrSuccesScreen</name>
        <label>scrSuccesScreen</label>
        <locationX>578</locationX>
        <locationY>2378</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsOpenRecord</targetReference>
        </connector>
        <fields>
            <name>HeijmansLogo_005</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtSuccesMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;You&apos;ve successfully created the meeting report!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnEndActionEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Go to account&quot;,&quot;value&quot;:&quot;Go to account&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:company&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;View Report&quot;,&quot;value&quot;:&quot;View report&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:text_template&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnEndActionNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ga naar account&quot;,&quot;value&quot;:&quot;Go to account&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:company&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Open gespreksverslag&quot;,&quot;value&quot;:&quot;View report&quot;,&quot;iconPosition&quot;:&quot;right&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:text_template&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWriteMeetingReport</name>
        <label>scrWriteMeetingReport</label>
        <locationX>974</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsSaveReport</targetReference>
        </connector>
        <fields>
            <name>HeijmansLogo_002</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtInformation</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Please provide all the details of this meeting report. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.PartnershipRef__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.AccountRef__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.ContactRef__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.Location__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.Date__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>getNewMeetingReport.Type__c</objectFieldReference>
        </fields>
        <fields>
            <name>rtMeetingReport</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Note</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>btnSaveReportEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Back&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Save&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnSaveReportNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Terug&quot;,&quot;value&quot;:&quot;Back&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand-outline&quot;,&quot;iconName&quot;:&quot;utility:arrow_left&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Opslaan&quot;,&quot;value&quot;:&quot;Save&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:save&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>2390</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRecordTypeId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <description>Error handling</description>
        <name>fcCreateInternalAttendees</name>
        <label>fcCreateInternalAttendees</label>
        <locationX>1634</locationX>
        <locationY>1946</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </connector>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcCreateInternalAttendees</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>ccount - SCFL04 - Create New Meeting Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Attendee__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Error handling</description>
        <name>fcgetNewMeetingReport</name>
        <label>fcgetNewMeetingReport</label>
        <locationX>2690</locationX>
        <locationY>566</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </connector>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>getNewMeetingReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>ccount - SCFL04 - Create New Meeting Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>MeetingReport__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Error handling</description>
        <name>fcRcNewMeetingReport</name>
        <label>fcRcNewMeetingReport</label>
        <locationX>2954</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>scrErrorScreen</targetReference>
        </connector>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcNewMeetingReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>fcRcNewMeetingReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>MeetingReport__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Error handling</description>
        <name>fcRcSetupInitialAttendee</name>
        <label>fcRcSetupInitialAttendee</label>
        <locationX>2162</locationX>
        <locationY>890</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </connector>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcSetupInitialAttendee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>ccount - SCFL04 - Create New Meeting Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Attendee__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>Error handling</description>
        <name>fcUpdateMeetingReport</name>
        <label>fcUpdateMeetingReport</label>
        <locationX>1106</locationX>
        <locationY>2378</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>scrErrorScreen</targetReference>
        </connector>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcUpdateMeetingReport</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>ccount - SCFL04 - Create New Meeting Report</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Attendee__c</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colInternalAttendees</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Aanwezige__c</objectType>
    </variables>
    <variables>
        <description>Stores the recordId of the account from the lighting page.</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varDummyAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Aanwezige__c</objectType>
    </variables>
    <variables>
        <name>varExternalAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aanwezige__c</objectType>
    </variables>
    <variables>
        <name>varInternalAttendee</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Aanwezige__c</objectType>
    </variables>
    <variables>
        <name>varInternalAttendeeRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varRetURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
