force-app/main/default/flows/Account_SCFL03_Change_Department_Structure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actRefresh</name>
        <label>actRefresh</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>c:FlowRefreshView</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>c:FlowRefreshView</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>This element will check if the accountchart with name directie is found</description>
        <name>dcsAccountChartDirectieFound</name>
        <label>dcsAccountChartDirectieFound</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>DirectieFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountChartDirectie</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrButton</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if the accountchart with name organization is found</description>
        <name>dcsAccountChartOrganizationFound</name>
        <label>dcsAccountChartOrganizationFound</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountChartOrganization</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountChartDirectie</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This screenflow will give the user the option to change the department structure by re-ordering the account chart hierarchy.</description>
    <environments>Default</environments>
    <formulas>
        <name>fmAvailableParentAccountCharts</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name FROM albiraSolutions__AccountChart__c WHERE albiraSolutions__AccountID__c = &apos;&quot; &amp;  {!recordId.Id} &amp; &quot;&apos; AND Id &lt;&gt; &apos;&quot; &amp; {!getAccountChartOrganization.Id} &amp; &quot;&apos; AND Id &lt;&gt; &apos;&quot; &amp; {!dtbAvailableDepartments.firstSelectedRow.Id} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmDepartmentTableTitle</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, &quot;Selecteer Afdeling&quot;, &quot;Select Department&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmParentDepartmentTable</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, &quot;Koppel onder geselecteerde afdeling:&quot;, &quot;Attach under the following department:&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryAvailableAccountCharts</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, Name FROM albiraSolutions__AccountChart__c WHERE albiraSolutions__AccountID__c = &apos;&quot; &amp; {!recordId.Id} &amp; &quot;&apos; AND Id &lt;&gt; &apos;&quot; &amp; {!getAccountChartOrganization.Id} &amp; &quot;&apos; AND Id &lt;&gt; &apos;&quot; &amp; {!getAccountChartDirectie.Id} &amp; &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Account - SCFL03 - Change Department Structure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - SCFL03 - Change Department Structure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This element retrieves the account chart that contains the name &quot;directie&quot;</description>
        <name>getAccountChartDirectie</name>
        <label>getAccountChartDirectie</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsAccountChartDirectieFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>albiraSolutions__AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Directie</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>albiraSolutions__AccountChart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element retrieves the account chart that contains the name &quot;organization&quot;</description>
        <name>getAccountChartOrganization</name>
        <label>getAccountChartOrganization</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsAccountChartOrganizationFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>albiraSolutions__AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Organization</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>albiraSolutions__AccountChart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will change the parent id from the selected account chart department (from the left table) with the selected parent chart department (from the right table).</description>
        <name>ruAccountChart</name>
        <label>ruAccountChart</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>actRefresh</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dtbAvailableDepartments.firstSelectedRow.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>albiraSolutions__parentChartID__c</field>
            <value>
                <elementReference>dtbAvailableParents.firstSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <object>albiraSolutions__AccountChart__c</object>
    </recordUpdates>
    <screens>
        <name>scrButton</name>
        <label>scrButton</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>scrChangeOrgChart</targetReference>
        </connector>
        <fields>
            <name>btnBarEn</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Change Org Chart Hierarchy&quot;,&quot;value&quot;:&quot;Change&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:hierarchy&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Wijzig Afdelingsorgangram&quot;,&quot;value&quot;:&quot;Change&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;neutral&quot;,&quot;iconName&quot;:&quot;utility:hierarchy&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrChangeOrgChart</name>
        <label>scrChangeOrgChart</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ruAccountChart</targetReference>
        </connector>
        <fields>
            <name>linLine</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginTop</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>diOrg</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansOrg</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Change the hierarchy of the organization chart. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;1. Select the department that needs to be moved (left table).&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;2. Select the parent department (right table).&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;3. Click &quot;Change&quot;.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrChangeOrgChart_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrChangeOrgChart_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfAvailableAccountCharts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>albiraSolutions__AccountChart__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryAvailableAccountCharts</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbAvailableDepartments</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>albiraSolutions__AccountChart__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmDepartmentTableTitle</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfAvailableAccountCharts.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-3fe6&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Department&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AccountChart Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrChangeOrgChart_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfAvailableParentAccountCharts</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>albiraSolutions__AccountChart__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmAvailableParentAccountCharts</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbAvailableParents</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>albiraSolutions__AccountChart__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmParentDepartmentTable</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>SINGLE_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfAvailableParentAccountCharts.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-353c&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Department&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;AccountChart Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dtDummy</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarChangeEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Change&quot;,&quot;value&quot;:&quot;Change&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:data_mapping&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarChangeNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>below</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Aanpassen&quot;,&quot;value&quot;:&quot;Change&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:data_mapping&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountChartOrganization</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>subFaultConnector</name>
        <label>subFaultConnector</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>ruAccountChart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - SCFL03 - Change Department Structure</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Variable to hold the Account Record Id that is being edited (via quick action or a lightning component).</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
