force-app/main/default/flows/Account_STFL01_Create_Standard_Department_at_Create.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>This flow will create a standard department (AccountChart) with the name &quot;Directie - &lt;AccountName&gt;&quot;. It also checks if the name is not longer than 80 characters otherwise it will shorten the name with the function Right(),80).</description>
    <environments>Default</environments>
    <formulas>
        <description>Formula field to show the word &quot;Directie&quot; and the name of the account. With this formula the name will be shortened to 80 characters, because this is the limit of a custom name field.</description>
        <name>fmBoard</name>
        <dataType>String</dataType>
        <expression>RIGHT ((&quot;Directie&quot; + &quot; - &quot; + {!$Record.Name}),80)</expression>
    </formulas>
    <formulas>
        <name>fmOrganization</name>
        <dataType>String</dataType>
        <expression>RIGHT ((&quot;Organization&quot; + &quot; - &quot; + {!$Record.Name}),80)</expression>
    </formulas>
    <interviewLabel>Account - STFL01 - Create Standard Department at Create {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - STFL01 - Create Standard Department at Create</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>this element will create a new AccountChart record with the name &quot;Directie&quot;.</description>
        <name>rcDepartmentDirectie</name>
        <label>rcDepartmentDirectie</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmBoard</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>albiraSolutions__AccountID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>albiraSolutions__parentChartID__c</field>
            <value>
                <elementReference>varOrganization</elementReference>
            </value>
        </inputAssignments>
        <object>albiraSolutions__AccountChart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>this element will create a new AccountChart record with the name &quot;Organization&quot;.</description>
        <name>rcDepartmentOrganization</name>
        <label>rcDepartmentOrganization</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>varOrganization</assignRecordIdToReference>
        <connector>
            <targetReference>rcDepartmentDirectie</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subFaultConnector2</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmOrganization</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>albiraSolutions__AccountID__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>albiraSolutions__isFirstDepartment__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>albiraSolutions__AccountChart__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>rcDepartmentOrganization</targetReference>
        </connector>
        <object>Account</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This element connects the error to the fault connector subflow.</description>
        <name>subFaultConnector</name>
        <label>subFaultConnector</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcDepartmentDirectie</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - STFL01 - Create Standard Department at Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <description>This element connects the error to the fault connector subflow.</description>
        <name>subFaultConnector2</name>
        <label>subFaultConnector</label>
        <locationX>704</locationX>
        <locationY>431</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <stringValue>rcDepartmentOrganization</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - STFL01 - Create Standard Department at Create</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Account</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>varOrganization</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
