force-app/main/default/flows/AccountChart_RTFL01_Update_ContactCharts_when_Department_is_Changed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This assignment will set the name of the Accountchart to all child (contact chart) records.</description>
        <name>assContactChart</name>
        <label>assContactChart</label>
        <locationX>138</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>varContactChart.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varContactChart.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpContactCharts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colContactCharts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varContactChart</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpContactCharts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This element will check if any contact charts are found</description>
        <name>dcsContactChartsFound</name>
        <label>dcsContactChartsFound</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getContactChart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpContactCharts</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This flow will update the name of the ContactChart record when the name of the department in the chart has changed.</description>
    <environments>Default</environments>
    <interviewLabel>AccountChart - RTFL01 - Update ContactCharts when Department is Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AccountChart - RTFL01 - Update ContactCharts when Department is Changed</label>
    <loops>
        <description>This element will loop through all the contact charts that are related to the accountchart.</description>
        <name>lpContactCharts</name>
        <label>lpContactCharts</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>getContactChart</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assContactChart</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ruContactCharts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This element will retrieve all the Contact Charts related to the Account Chart.</description>
        <name>getContactChart</name>
        <label>getContactChart</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsContactChartsFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>albiraSolutions__AccountChart__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>albiraSolutions__ContactChart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will update the name of all ContactChart records based on the changed name of the AccountChart.</description>
        <name>ruContactCharts</name>
        <label>ruContactCharts</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputReference>colContactCharts</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getContactChart</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>albiraSolutions__AccountChart__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>subFaultConnector</name>
        <label>subFaultConnector</label>
        <locationX>314</locationX>
        <locationY>947</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>AccountChart - RTFL01 - Update ContactCharts when Department is Changed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>AccountChart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>This is the collection variable where we store all the names and Id&apos;s of the contact charts that need to be updated.</description>
        <name>colContactCharts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>albiraSolutions__ContactChart__c</objectType>
    </variables>
    <variables>
        <name>varContactChart</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>albiraSolutions__ContactChart__c</objectType>
    </variables>
</Flow>
