force-app/main/default/flows/Account_STFL01_Activate_Deactivate_Alert_Message.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <description>This assignment will set the counter to the sequence.</description>
        <name>assCounter</name>
        <label>assCounter</label>
        <locationX>138</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assVariables</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will set the counter to the sequence.</description>
        <name>assVariables</name>
        <label>assVariables</label>
        <locationX>138</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varAlert.Sequence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varCounter</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAlert.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpActiveAlerts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colAlerts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAlert</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpActiveAlerts</targetReference>
        </connector>
    </assignments>
    <description>This flow will activate or deactivate an alert based on the start and enddate of an alert.</description>
    <environments>Default</environments>
    <interviewLabel>Account - STFL01 - Activate / Deactivate Alert Message {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - STFL01 - Activate / Deactivate Alert Message</label>
    <loops>
        <description>This element will loop through all active alerts.</description>
        <name>lpActiveAlerts</name>
        <label>lpActiveAlerts</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <collectionReference>getAllActiveAlerts</collectionReference>
        <iterationOrder>Desc</iterationOrder>
        <nextValueConnector>
            <targetReference>assCounter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ruUpdatedAlerts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This element will retrieve all active alerts</description>
        <name>getAllActiveAlerts</name>
        <label>getAllActiveAlerts</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lpActiveAlerts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will set the Alert to active</description>
        <name>ruActivateAlert</name>
        <label>ruActivateAlert</label>
        <locationX>50</locationX>
        <locationY>276</locationY>
        <connector>
            <targetReference>getAllActiveAlerts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will set the Alert to Inactive</description>
        <name>ruDeActivateAlert</name>
        <label>ruDeActivateAlert</label>
        <locationX>842</locationX>
        <locationY>276</locationY>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sequence__c</field>
            <value>
                <elementReference>varEmptyString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will set the new sequence to the alerts.</description>
        <name>ruUpdatedAlerts</name>
        <label>ruUpdatedAlerts</label>
        <locationX>50</locationX>
        <locationY>900</locationY>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputReference>colAlerts</inputReference>
    </recordUpdates>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <object>Alert__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>StartDate</name>
            <connector>
                <targetReference>ruActivateAlert</targetReference>
            </connector>
            <label>StartDate</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>StartDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>End_Date</name>
            <connector>
                <targetReference>ruDeActivateAlert</targetReference>
            </connector>
            <label>End Date</label>
            <maxBatchSize>200</maxBatchSize>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>EndDate__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>subFaultConnector</name>
        <label>subFaultConnector</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Account - STFL01 - Activate / Deactivate Alert Message</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Alert</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>colAlerts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>varAlert</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Alert__c</objectType>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varEmptyString</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
