force-app/main/default/flows/Account_SCFL02_Show_Alert_on_Account_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actToast1</name>
        <label>actToast1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>getActiveAlert2</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>getActiveAlert1.TypePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmTitle1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>getActiveAlert1.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>fmIcon1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>getActiveAlert1.ModePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <elementReference>getActiveAlert1.Duration__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>fmURLLink1</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>fmURLLabel1</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actToast2</name>
        <label>actToast2</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>getActiveAlert3</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>getActiveAlert2.TypePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmTitle2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>getActiveAlert2.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>fmIcon2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>getActiveAlert2.ModePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <elementReference>getActiveAlert2.Duration__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>fmURLLink2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>fmURLLabel2</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actToast3</name>
        <label>actToast3</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>getActiveAlert4</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>getActiveAlert3.TypePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmTitle3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>getActiveAlert3.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>fmIcon3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>getActiveAlert3.ModePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <elementReference>getActiveAlert3.Duration__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>fmURLLink3</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>fmURLLabel3</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>actToast4</name>
        <label>actToast4</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>scrEmpty</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>getActiveAlert4.TypePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <elementReference>fmTitle4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>getActiveAlert4.Message__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>fmIcon4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>mode</name>
            <value>
                <elementReference>getActiveAlert4.ModePick__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>duration</name>
            <value>
                <elementReference>getActiveAlert4.Duration__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLink</name>
            <value>
                <elementReference>fmURLLink4</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>urlLabel</name>
            <value>
                <elementReference>fmURLLabel4</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>This element checks if an active Alert with sequence number 1 is found</description>
        <name>dcsActiveAlert1Found</name>
        <label>dcsActiveAlert1Found</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getActiveAlert2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Alert_1_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveAlert1</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actToast1</targetReference>
            </connector>
            <label>Active Alert 1 Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if an active Alert with sequence number 1 is found</description>
        <name>dcsActiveAlert2Found</name>
        <label>dcsActiveAlert2Found</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>getActiveAlert3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Alert_2_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveAlert2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actToast2</targetReference>
            </connector>
            <label>Active Alert 2 Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if an active Alert with sequence number 1 is found</description>
        <name>dcsActiveAlert3Found</name>
        <label>dcsActiveAlert3Found</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>getActiveAlert4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Alert_3_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveAlert3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actToast3</targetReference>
            </connector>
            <label>Active Alert 3 Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if an active Alert with sequence number 4 is found</description>
        <name>dcsActiveAlert4Found</name>
        <label>dcsActiveAlert4Found</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>scrEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Active_Alert_4_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getActiveAlert4</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>actToast4</targetReference>
            </connector>
            <label>Active Alert 4 Found</label>
        </rules>
    </decisions>
    <description>This flow will show an alert on the account object, based on the settings in the alert object where the alert is active.</description>
    <environments>Default</environments>
    <formulas>
        <name>fmIcon1</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!getActiveAlert1.IconPick__c},&apos;&apos;),&apos;&apos;,TEXT({!getActiveAlert1.IconPick__c}))</expression>
    </formulas>
    <formulas>
        <name>fmIcon2</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!getActiveAlert2.IconPick__c},&apos;&apos;),&apos;&apos;,TEXT({!getActiveAlert2.IconPick__c}))</expression>
    </formulas>
    <formulas>
        <name>fmIcon3</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!getActiveAlert3.IconPick__c},&apos;&apos;),&apos;&apos;,TEXT({!getActiveAlert3.IconPick__c}))</expression>
    </formulas>
    <formulas>
        <name>fmIcon4</name>
        <dataType>String</dataType>
        <expression>IF (ISPICKVAL({!getActiveAlert4.IconPick__c},&apos;&apos;),&apos;&apos;,TEXT({!getActiveAlert4.IconPick__c}))</expression>
    </formulas>
    <formulas>
        <name>fmTitle1</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert1.Title__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert1.Title__c})</expression>
    </formulas>
    <formulas>
        <name>fmTitle2</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert2.Title__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert2.Title__c})</expression>
    </formulas>
    <formulas>
        <name>fmTitle3</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert3.Title__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert3.Title__c})</expression>
    </formulas>
    <formulas>
        <name>fmTitle4</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert4.Title__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert4.Title__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLabel1</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert1.URLLabel__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert1.URLLabel__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLabel2</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert2.URLLabel__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert2.URLLabel__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLabel3</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert3.URLLabel__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert3.URLLabel__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLabel4</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert4.URLLabel__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert4.URLLabel__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLink1</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert1.URLLink__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert1.URLLink__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLink2</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert2.URLLink__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert2.URLLink__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLink3</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert3.URLLink__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert3.URLLink__c})</expression>
    </formulas>
    <formulas>
        <name>fmURLLink4</name>
        <dataType>String</dataType>
        <expression>IF ({!getActiveAlert4.URLLink__c}=&apos;&apos;,&apos;&apos;,{!getActiveAlert4.URLLink__c})</expression>
    </formulas>
    <interviewLabel>Account - SCFL02 - Show Alert on Account Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Account - SCFL02 - Show Alert on Account Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This element retrieves all active alert number 1 for this specific Account record</description>
        <name>getActiveAlert1</name>
        <label>getActiveAlert1</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsActiveAlert1Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element retrieves all active alert number 2 for this specific Account record</description>
        <name>getActiveAlert2</name>
        <label>getActiveAlert2</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsActiveAlert2Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element retrieves all active alert number 3 for this specific Account record</description>
        <name>getActiveAlert3</name>
        <label>getActiveAlert3</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsActiveAlert3Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element retrieves all active alert number 3 for this specific Account record</description>
        <name>getActiveAlert4</name>
        <label>getActiveAlert4</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsActiveAlert4Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Alert__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrEmpty</name>
        <label>scrEmpty</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtLinks</name>
            <fieldText>&lt;p&gt;	&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getActiveAlert1</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttInformational</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-theme_success&quot; role=&quot;status&quot;&gt;
&lt;div class=&quot;slds-media__figure&quot;&gt;
&lt;span class=&quot;slds-icon_container slds-icon-utility-success&quot; title=&quot;success&quot;&gt;
&lt;svg class=&quot;slds-icon slds-icon_small&quot; aria-hidden=&quot;true&quot;&gt;
&lt;use xlink:href=&quot;/assets/icons/utility-sprite/svg/symbols.svg#success&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;
&lt;span class=&quot;slds-assistive-text&quot;&gt;success&lt;/span&gt;
&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;slds-media__body&quot;&gt;
&lt;p&gt;Success! Your entry has been duplicated.
&lt;a href=&quot;#&quot;&gt;View Duplicates&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttTest</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-scoped-notification slds-media slds-media_center slds-scoped-notification_light&quot; role=&quot;status&quot;&gt;
&lt;div class=&quot;slds-media__figure&quot;&gt;
&lt;span class=&quot;slds-icon_container slds-icon-utility-info&quot; title=&quot;information&quot;&gt;
&lt;svg class=&quot;slds-icon slds-icon_small slds-icon-text-default&quot; aria-hidden=&quot;true&quot;&gt;
&lt;use xlink:href=&quot;/assets/icons/utility-sprite/svg/symbols.svg#info&quot;&gt;&lt;/use&gt;
&lt;/svg&gt;
&lt;span class=&quot;slds-assistive-text&quot;&gt;information&lt;/span&gt;
&lt;/span&gt;
&lt;/div&gt;
&lt;div class=&quot;slds-media__body&quot;&gt;
&lt;p&gt;It looks as if duplicates exist for this lead.
&lt;a href=&quot;#&quot;&gt;View Duplicates&lt;/a&gt;
&lt;/p&gt;
&lt;/div&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <description>Variable to hold the Account Record Id that is being edited (via quick action or a lightning component).</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>varActiveAlerts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
