force-app/main/default/flows/Business_Unit_SCFL01_Prioritize_Focus_Clients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This assignment makes all collections for the icons, labels and descriptions empty, so the buttons will not been shown multiple times when the flow keeps running.</description>
        <name>assEmptyCollectionsforQuickChouice</name>
        <label>assEmptyCollectionsforQuickChouice</label>
        <locationX>774</locationX>
        <locationY>1658</locationY>
        <assignmentItems>
            <assignToReference>colDescription</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colIcons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dtbFocusClientsNextYear.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qcSelection.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qcSelection.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varAdjustedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getMyFocusClientsCurrentYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will assign the focusclient prio to the selected records</description>
        <name>assFocusClient</name>
        <label>assFocusClient</label>
        <locationX>138</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientNextYearPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qcSelection.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpSelectedFocusRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpSelectedFocusRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will assign the focusclient prio to the selected records</description>
        <name>assFocusClient_0</name>
        <label>assFocusClient</label>
        <locationX>1586</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientNextYearPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpSelectedNoFocusRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpSelectedNoFocusRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will remove the focus client  to the selected records</description>
        <name>assFocusClientNextYear</name>
        <label>assFocusClientNextYear</label>
        <locationX>706</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientNextYearPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpSelectedNoFocusNextYearRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpSelectedNoFocusNextYearRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assIcons</name>
        <label>assIcons</label>
        <locationX>774</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrQuickChoice</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <description>This element checks which button is pressed: Set or Remove as Focus Client</description>
        <name>dcsButtonPressed</name>
        <label>dcsButtonPressed</label>
        <locationX>774</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>lpSelectedNoFocusRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove Focus</defaultConnectorLabel>
        <rules>
            <name>Set_Focus</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarThisYear.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Focus</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpSelectedFocusRows</targetReference>
            </connector>
            <label>Set Focus</label>
        </rules>
        <rules>
            <name>Add_New_Focus_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarNew.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSelectedBusinessUnit</targetReference>
            </connector>
            <label>Add New Focus Client</label>
        </rules>
        <rules>
            <name>Remove_Focus_Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarNextYear.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpSelectedNoFocusNextYearRows</targetReference>
            </connector>
            <label>Remove Focus Next Year</label>
        </rules>
        <rules>
            <name>Submit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarApproval.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Submit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWarning</targetReference>
            </connector>
            <label>Submit Approval</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if there are any focus clients found for the logged in user.</description>
        <name>dcsFocusClients</name>
        <label>dcsFocusClients</label>
        <locationX>774</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getMyFocusClientsNextYear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Focus_Clients_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyFocusClientsCurrentYear</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMyFocusClientsNextYear</targetReference>
            </connector>
            <label>Focus Clients Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if there are any focus clients for next year are found for the logged in user.</description>
        <name>dcsFocusClientsNextYear</name>
        <label>dcsFocusClientsNextYear</label>
        <locationX>774</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>assIcons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Focus_Clients_Next_Year_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyFocusClientsNextYear</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assIcons</targetReference>
            </connector>
            <label>Focus Clients Next Year Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if the user clicked on the button Yes or No.</description>
        <name>dcsWarning</name>
        <label>dcsButtonWarning</label>
        <locationX>1014</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrQuickChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarConfirmation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rcTask</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This screenflow gives the user the option to prioritize his or her focus clients.</description>
    <environments>Default</environments>
    <formulas>
        <name>fmManager</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerFullName__c}</expression>
    </formulas>
    <formulas>
        <name>fmNextYear</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY())+1)</expression>
    </formulas>
    <formulas>
        <name>fmQueryCurrentFocusClients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerLoggedInForm__c	= TRUE AND FocusClientPick__c = &apos;&quot; + {!qcSelection.value} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmQueryNextYearFocusClients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientNextYearPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerLoggedInForm__c	= TRUE AND FocusClientNextYearPick__c = &apos;&quot; + {!qcSelection.value} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsCurrentYear</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, &quot;Mijn &quot; + {!qcSelection.value} + &quot; focus klanten voor &quot; + {!fmThisYear}, &quot;My &quot; + {!qcSelection.value} + &quot; focus clients for &quot; + {!fmThisYear})</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsNextYear</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, &quot;Mijn &quot; + {!qcSelection.value} + &quot; focus klanten voor &quot; + {!fmNextYear}, &quot;My &quot; + {!qcSelection.value} + &quot; focus clients for &quot; + {!fmNextYear})</expression>
    </formulas>
    <formulas>
        <name>fmTaskMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Beste &quot; + {!$User.ManagerFullName__c} + &quot;,&quot; + br() + br() +
&quot;Mijn lijst met focus klanten voor &quot; + {!fmNextYear} + &quot;staat klaar voor accordering. Kun je deze s.v.p beoordelen?&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Goedkeuring focus klanten: &quot; + {!fmNextYear} + &quot; - &quot; + {!$User.FullNameForm__c}</expression>
    </formulas>
    <formulas>
        <name>fmThisYear</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fmTwoWeeks</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Business Unit - SCFL01 - Prioritize Focus Clients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Unit - SCFL01 - Prioritize Focus Clients</label>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpSelectedFocusRows</name>
        <label>lpSelectedFocusRows</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <collectionReference>dtbFocusClientsCurrentYear.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assFocusClient</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpSelectedNoFocusNextYearRows</name>
        <label>lpSelectedNoFocusNextYearRows</label>
        <locationX>618</locationX>
        <locationY>1058</locationY>
        <collectionReference>dtbFocusClientsNextYear.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assFocusClientNextYear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpSelectedNoFocusRows</name>
        <label>lpSelectedNoFocusRows</label>
        <locationX>1498</locationX>
        <locationY>1058</locationY>
        <collectionReference>dtbFocusClientsCurrentYear.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assFocusClient_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>rcTask</name>
        <label>rcTask</label>
        <locationX>882</locationX>
        <locationY>1274</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>fmTwoWeeks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>test</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsAccountplanningApproval__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Hoog</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This element will retrieve the current focus clients of a commercial manager for this year</description>
        <name>getMyFocusClientsCurrentYear</name>
        <label>getMyFocusClientsCurrentYear</label>
        <locationX>774</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsFocusClients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerLoggedInForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the current focus clients of a commercial manager for next year</description>
        <name>getMyFocusClientsNextYear</name>
        <label>getMyFocusClientsNextYear</label>
        <locationX>774</locationX>
        <locationY>434</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsFocusClientsNextYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerLoggedInForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the selected business unit specific attribute based on the user&apos;s business unit and the selected account.</description>
        <name>getSelectedBusinessUnit</name>
        <label>getSelectedBusinessUnit</label>
        <locationX>266</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruBusinessUnitSpecificAttributesFocus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>luBusinessUnitAccounts.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.BusinessUnitPick__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will update the selected records from the table with the values from the assignment.</description>
        <name>ruBusinessUnitSpecificAttributes</name>
        <label>ruBusinessUnitSpecificAttributes</label>
        <locationX>618</locationX>
        <locationY>1358</locationY>
        <connector>
            <targetReference>assEmptyCollectionsforQuickChouice</targetReference>
        </connector>
        <inputReference>varAdjustedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the field Focus Client Next Year with the selected prio.</description>
        <name>ruBusinessUnitSpecificAttributesFocus</name>
        <label>ruBusinessUnitSpecificAttributesFocus</label>
        <locationX>266</locationX>
        <locationY>1166</locationY>
        <connector>
            <targetReference>assEmptyCollectionsforQuickChouice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSelectedBusinessUnit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessUnitOwnerRef__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FocusClientNextYearPick__c</field>
            <value>
                <elementReference>qcSelection.value</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessUnitSpecificAttribute__c</object>
    </recordUpdates>
    <screens>
        <name>scrQuickChoice</name>
        <label>scrQuickChoice</label>
        <locationX>774</locationX>
        <locationY>842</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsButtonPressed</targetReference>
        </connector>
        <fields>
            <name>diFlag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px; font-family: tahoma;&quot;&gt;Focus Client Wizard &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtDescription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Welcome to the focus client wizard. With this tool you can select your focus clients for next year. (&lt;/span&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!fmNextYear}&lt;/strong&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;). &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Please select one of the buttons to start the prioritizing of existing or new clients. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrQuickChoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>qcSelection</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>colIcons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>colLabels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>colDescription</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varPreviousSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dlLine1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#808080</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtEmptySpace3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrQuickChoice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfFocusClientsCurrentYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryCurrentFocusClients</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbFocusClientsCurrentYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmTableTitleFocusClientsCurrentYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfFocusClientsCurrentYear.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-6e95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ea42&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit Specific Attribute Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-af68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientPick__c&quot;,&quot;guid&quot;:&quot;column-6433&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Focus_Clients_Found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>qcSelection.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dtbFocusClientsNextYear.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfFocusClientsNextYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryNextYearFocusClients</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbFocusClientsNextYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmTableTitleFocusClientsNextYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfFocusClientsNextYear.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-9dde&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ba29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit Specific Attribute Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-2fac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientNextYearPick__c&quot;,&quot;guid&quot;:&quot;column-e62f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client Next Year&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>qcSelection.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dtEmptySpace4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlLine2</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#808080</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrQuickChoice_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtTitleAddAccount</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 51, 102); font-family: verdana;&quot;&gt;Add New Focus Client for {!fmNextYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>luBusinessUnitAccounts</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountRef__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BusinessUnitSpecificAttribute__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>qcSelection.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtEmptySpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarThisYear</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Set as Focus Client(s)&quot;,&quot;value&quot;:&quot;Focus&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Remove as Focus Client(s)&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarNew</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add New Account to Focus List&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>luBusinessUnitAccounts.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarNextYear</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove as Focus Client(s) Next Year&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtbFocusClientsNextYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtEmptySpace2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarApproval</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Submit list for Approval&quot;,&quot;value&quot;:&quot;Submit&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>4 AND (1 OR 2 OR 3)</conditionLogic>
                <conditions>
                    <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>luBusinessUnitAccounts.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarning</name>
        <label>scrWarning</label>
        <locationX>1014</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsWarning</targetReference>
        </connector>
        <fields>
            <name>diWarning</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansWarning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDescription2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Are you ready with prioritising your accounts and are you sure that you want to submit this list for approval?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarConfirmation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>648</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMyFocusClientsCurrentYear</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varAdjustedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
    <variables>
        <name>varPreviousSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
</Flow>
