force-app/main/default/flows/Business_Unit_SCFL02_Approve_Focus_Clients.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This apex action is used to compare the list of users that are reporting to the logged in user and the list of tasks that are assigned to the logged in user by the list of users reporting to the the logged in users. In this case we need the list of users that didn&apos;t submit their list of focus clients for approval.</description>
        <name>actgetCommonandUniqueRecords</name>
        <label>actgetCommonandUniqueRecords</label>
        <locationX>686</locationX>
        <locationY>1166</locationY>
        <actionName>FindCommonAndUniqueRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>lpMissingUsers</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__sourceRecordCollection</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>T__targetRecordCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceCommonRecordCollection</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__sourceUniqueRecordCollection</typeName>
            <typeValue>User</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetCommonRecordCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__targetUniqueRecordCollection</typeName>
            <typeValue>Task</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>sourceRecordCollection</name>
            <value>
                <elementReference>getMyTeam</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sourceUniqueID</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetRecordCollection</name>
            <value>
                <elementReference>getAccountplanningTasks</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetUniqueID</name>
            <value>
                <stringValue>CreatedById</stringValue>
            </value>
        </inputParameters>
        <nameSegment>FindCommonAndUniqueRecords</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>This assignment will add the names of the users that are already approved for this year to the variable</description>
        <name>assApprovedUsers</name>
        <label>assApprovedUsers</label>
        <locationX>774</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varCreatedByApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpApprovedTasks.CreatedbyNameForm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserswithApprovedTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreatedByApproved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpApprovedTasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will approve the focus clients for all clients from that specific user.</description>
        <name>assApproveFocusClients</name>
        <label>assApproveFocusClients</label>
        <locationX>794</locationX>
        <locationY>2738</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientApproved__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpAllFocusNextYear.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpAllFocusNextYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment makes all collections for the icons, labels and descriptions empty, so the buttons will not been shown multiple times when the flow keeps running.</description>
        <name>assEmptyCollectionsforQuickChouice</name>
        <label>assEmptyCollectionsforQuickChouice</label>
        <locationX>686</locationX>
        <locationY>3530</locationY>
        <assignmentItems>
            <assignToReference>colDescription</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colDescription</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colIcons</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>colLabels</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>dtbFocusClientsNextYear.firstSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPreviousSelection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>qcSelection.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>qcSelection.value</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>varAdjustedRows</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getMyTeamFocusClientsCurrentYear</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will assign the focusclient prio to the selected records</description>
        <name>assFocusClient_0</name>
        <label>assFocusClient</label>
        <locationX>1410</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientNextYearPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpSelectedNoFocusRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpSelectedNoFocusRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will remove the focus client  to the selected records</description>
        <name>assFocusClientNextYear</name>
        <label>assFocusClientNextYear</label>
        <locationX>490</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>varSelectedRow.FocusClientNextYearPick__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varSelectedRow.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpSelectedNoFocusNextYearRows.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAdjustedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varSelectedRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpSelectedNoFocusNextYearRows</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assIcons</name>
        <label>assIcons</label>
        <locationX>686</locationX>
        <locationY>950</locationY>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:campaign</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 1</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 2</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Prio 3</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMyTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This assignment will add the names of the users that haven&apos;t submitted their focus clients for approval (so the ones that didn&apos;t finish the flow and created an automatic task).</description>
        <name>assUsers</name>
        <label>assUserswithoutApprovalTask</label>
        <locationX>774</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>varNameCreatedBy</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lpMissingUsers.FullNameForm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varUserswithoutApprovalTask</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNameCreatedBy</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpMissingUsers</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>conEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <decisions>
        <description>This element will check if any open accountplanning tasks are found. So we can use the one that has created this task to show in the selection list and we can show the others that didn&apos;t finish their task in another list.</description>
        <name>dcsAccountplanningTasksFound</name>
        <label>dcsAccountplanningTasksFound</label>
        <locationX>1112</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scrMessage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Tasks_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountplanningTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getMyTeamFocusClientsCurrentYear</targetReference>
            </connector>
            <label>Tasks Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks which button is pressed: Set or Remove as Focus Client</description>
        <name>dcsButtonPressed</name>
        <label>dcsButtonPressed</label>
        <locationX>686</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>lpSelectedNoFocusRows</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Remove Focus</defaultConnectorLabel>
        <rules>
            <name>Add_New_Focus_Client</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarNew.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSelectedUser</targetReference>
            </connector>
            <label>Add New Focus Client</label>
        </rules>
        <rules>
            <name>Remove_Focus_Next_Year</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarNextYear.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Remove</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpSelectedNoFocusNextYearRows</targetReference>
            </connector>
            <label>Remove Focus Next Year</label>
        </rules>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarApproval.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approve</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWarning</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if there are any focus clients found for the logged in user.</description>
        <name>dcsFocusClients</name>
        <label>dcsFocusClients</label>
        <locationX>686</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>getFocusClientsNextYear</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Focus_Clients_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyTeamFocusClientsCurrentYear</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFocusClientsNextYear</targetReference>
            </connector>
            <label>Focus Clients Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if there are any focus clients for next year are found for the logged in user.</description>
        <name>dcsFocusClientsNextYear</name>
        <label>dcsFocusClientsNextYear</label>
        <locationX>686</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>assIcons</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Focus_Clients_Next_Year_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFocusClientsNextYear</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assIcons</targetReference>
            </connector>
            <label>Focus Clients Next Year Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if the user clicked on the button Yes or No.</description>
        <name>dcsWarning</name>
        <label>dcsButtonWarning</label>
        <locationX>838</locationX>
        <locationY>2306</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>scrQuickChoice</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>btnBarConfirmation.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getSelectedUser2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This screen flow will guide the director through the process of approving the selected prio customers of commercial manager</description>
    <dynamicChoiceSets>
        <name>ccsMyTeam</name>
        <collectionReference>getMyTeam</collectionReference>
        <dataType>String</dataType>
        <displayField>FullNameForm__c</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ccsUsers</name>
        <collectionReference>getAccountplanningTasks</collectionReference>
        <dataType>String</dataType>
        <displayField>CreatedbyNameForm__c</displayField>
        <object>Task</object>
        <valueField>CreatedById</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This record choice will show all users where the manager is equal to the logged in user.</description>
        <name>rcsMyTeam</name>
        <dataType>String</dataType>
        <displayField>FullNameForm__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>FullNameForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>FullNameForm__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This record choice set is based on the tasks with type: Accountplanning and the checkbox Accountplanning activated.</description>
        <name>rcsSubmittedUsers</name>
        <dataType>String</dataType>
        <displayField>CreatedbyNameForm__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <sortField>CreatedbyNameForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CreatedById</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmFirstDayofYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 1, 1)</expression>
    </formulas>
    <formulas>
        <name>fmFullNameCreatedBy</name>
        <dataType>String</dataType>
        <expression>{!lpMissingUsers.CreatedBy.FullNameForm__c}</expression>
    </formulas>
    <formulas>
        <name>fmLastDayofYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>fmManager</name>
        <dataType>String</dataType>
        <expression>{!$User.ManagerFullName__c}</expression>
    </formulas>
    <formulas>
        <name>fmNextYear</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY())+1)</expression>
    </formulas>
    <formulas>
        <name>fmQueryApprovedNextYearFocusClients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientNextYearPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientApproved__c	 = &apos;Approved&apos; AND FocusClientPick__c = &apos;&quot; + {!qcSelection.value} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmQueryCurrentFocusClients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;&quot; + {!qcSelection.value} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmQueryNextYearFocusClients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientNextYearPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientNextYearPick__c = &apos;&quot; + {!qcSelection.value} + &quot;&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsCurrentYear</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, {!plUser}  + &quot; - &quot; + {!qcSelection.value} + &quot; focus klanten voor &quot; + {!fmThisYearText}, {!plUser} + &quot; - &quot; + {!qcSelection.value} + &quot; focus clients for &quot; + {!fmThisYearText})</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsNextYear</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, {!plUser}  + &quot; - &quot; + {!qcSelection.value} + &quot; focus klanten voor &quot; + {!fmNextYear}, {!plUser}  + &quot; - &quot; + {!qcSelection.value} + &quot; focus clients for &quot; + {!fmNextYear})</expression>
    </formulas>
    <formulas>
        <name>fmTaskMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Beste &quot; + {!$User.ManagerFullName__c} + &quot;,&quot; + br() + br() +
&quot;Mijn lijst met focus klanten voor &quot; + {!fmNextYear} + &quot;staat klaar voor accordering. Kun je deze s.v.p beoordelen?&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Goedkeuring focus klanten: &quot; + {!fmNextYear} + &quot; - &quot; + {!$User.FullNameForm__c}</expression>
    </formulas>
    <formulas>
        <name>fmThisYearText</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fmTwoWeeks</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Business Unit - SCFL02 - Approve Focus Clients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Unit - SCFL02 - Approve Focus Clients</label>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpAllFocusNextYear</name>
        <label>lpAllFocusNextYear</label>
        <locationX>706</locationX>
        <locationY>2630</locationY>
        <collectionReference>getAllFocusClientsNextYear</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assApproveFocusClients</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getApprovalTask</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This element will loop through the list of approved focus client list (tasks) by the logged in user within this year.</description>
        <name>lpApprovedTasks</name>
        <label>lpApprovedTasks</label>
        <locationX>686</locationX>
        <locationY>1682</locationY>
        <collectionReference>getApprovedAccountplanningTasksThisYear</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assApprovedUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>scrQuickChoice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lpMissingUsers</name>
        <label>lpMissingUsers</label>
        <locationX>686</locationX>
        <locationY>1274</locationY>
        <collectionReference>actgetCommonandUniqueRecords.sourceUniqueRecordCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assUsers</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>getApprovedAccountplanningTasksThisYear</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpSelectedNoFocusNextYearRows</name>
        <label>lpSelectedNoFocusNextYearRows</label>
        <locationX>402</locationX>
        <locationY>2198</locationY>
        <collectionReference>dtbFocusClientsNextYear.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assFocusClientNextYear</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>This element will loop through the selected Focus rows.</description>
        <name>lpSelectedNoFocusRows</name>
        <label>lpSelectedNoFocusRows</label>
        <locationX>1322</locationX>
        <locationY>2198</locationY>
        <collectionReference>dtbFocusClientsCurrentYear.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assFocusClient_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This element will retrieve all open accountplanning task for the logged in manager</description>
        <name>getAccountplanningTasks</name>
        <label>getAccountplanningTasks</label>
        <locationX>1112</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsAccountplanningTasksFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Niet gestart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bezig</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the renewed focus clients of all commercial manager for next year</description>
        <name>getAllFocusClientsNextYear</name>
        <label>getAllFocusClientsNextYear</label>
        <locationX>706</locationX>
        <locationY>2522</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lpAllFocusNextYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerManagerLoggedIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <filters>
            <field>BusinessUnitOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSelectedUser2.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the approval task from the selected user, so in the next step it can be marked as approved. In the next step we don&apos;t add a decision element, because there is an approval task available (otherwise we couldn&apos;t get so far in the flow).</description>
        <name>getApprovalTask</name>
        <label>getApprovalTask</label>
        <locationX>706</locationX>
        <locationY>2930</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruApprovalTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plUser</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fmLastDayofYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fmFirstDayofYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all closed accountplanning task for the logged in manager this year</description>
        <name>getApprovedAccountplanningTasksThisYear</name>
        <label>getApprovedAccountplanningTasksThisYear</label>
        <locationX>686</locationX>
        <locationY>1574</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lpApprovedTasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>fmLastDayofYear</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActivityDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>fmFirstDayofYear</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the current focus clients of a commercial manager for next year</description>
        <name>getFocusClientsNextYear</name>
        <label>getFocusClientsNextYear</label>
        <locationX>686</locationX>
        <locationY>650</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsFocusClientsNextYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerManagerLoggedIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientNextYearPick__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMyTeam</name>
        <label>getMyTeam</label>
        <locationX>686</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>actgetCommonandUniqueRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the current focus clients of a commercial manager for this year</description>
        <name>getMyTeamFocusClientsCurrentYear</name>
        <label>getMyTeamFocusClientsCurrentYear</label>
        <locationX>686</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsFocusClients</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerManagerLoggedIn__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve the selected business unit specific attribute based on the user&apos;s business unit and the selected account.</description>
        <name>getSelectedBusinessUnit</name>
        <label>getSelectedBusinessUnit</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ruBusinessUnitSpecificAttributesFocus</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>luBusinessUnitAccounts.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessUnit__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSelectedUser.BusinessUnitPick__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve more info from the selected user. In this case we need the business unit of the selected user.
It could be possible that the manager is replacing another manager so it is not reliable to use the business unit from the manager.</description>
        <name>getSelectedUser</name>
        <label>getSelectedUser</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getSelectedBusinessUnit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve more info from the selected user. In this case we need the business unit of the selected user.
It could be possible that the manager is replacing another manager so it is not reliable to use the business unit from the manager.</description>
        <name>getSelectedUser2</name>
        <label>getSelectedUser</label>
        <locationX>706</locationX>
        <locationY>2414</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAllFocusClientsNextYear</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>plUser</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will set the task to Completed.</description>
        <name>ruApprovalTask</name>
        <label>ruApprovalTask</label>
        <locationX>706</locationX>
        <locationY>3038</locationY>
        <connector>
            <targetReference>scrSuccess</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getApprovalTask.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the selected records from the table with the values from the assignment.</description>
        <name>ruBusinessUnitSpecificAttributes</name>
        <label>ruBusinessUnitSpecificAttributes</label>
        <locationX>706</locationX>
        <locationY>3254</locationY>
        <connector>
            <targetReference>assEmptyCollectionsforQuickChouice</targetReference>
        </connector>
        <inputReference>varAdjustedRows</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>This element will update the field Focus Client Next Year with the selected prio.</description>
        <name>ruBusinessUnitSpecificAttributesFocus</name>
        <label>ruBusinessUnitSpecificAttributesFocus</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <connector>
            <targetReference>assEmptyCollectionsforQuickChouice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getSelectedBusinessUnit.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessUnitOwnerRef__c</field>
            <value>
                <elementReference>getSelectedUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FocusClientNextYearPick__c</field>
            <value>
                <elementReference>qcSelection.value</elementReference>
            </value>
        </inputAssignments>
        <object>BusinessUnitSpecificAttribute__c</object>
    </recordUpdates>
    <screens>
        <name>scrMessage</name>
        <label>scrMessage</label>
        <locationX>1538</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>diTodo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansTodo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDescription4</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;There are no approvals waiting for you. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrQuickChoice</name>
        <label>scrQuickChoice</label>
        <locationX>686</locationX>
        <locationY>1982</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsButtonPressed</targetReference>
        </connector>
        <fields>
            <name>diFlag</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansFlag</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtTitle</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; font-size: 16px;&quot;&gt;Approval Focus Client Wizard &lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtDescription</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Welcome to the focus client wizard. With this tool you can approve the focus clients for next year  (&lt;/span&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!fmNextYear}&lt;/strong&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;) for your team. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Please select one of the buttons to start the prioritizing of existing or new clients. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>scrQuickChoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plUser</name>
                    <choiceReferences>rcsSubmittedUsers</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>varPreviousSelection</elementReference>
                    </defaultValue>
                    <fieldText>User</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>dtOverviewApprovalperUser</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt; Not submitted:&lt;/strong&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt; &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!varUserswithoutApprovalTask}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt; Approved: &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;{!varUserswithApprovedTask}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>qcSelection</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>colIcons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>colLabels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>colDescription</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>value</name>
                        <value>
                            <elementReference>varPreviousSelection</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dlLine1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#808080</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrQuickChoice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfFocusClientsCurrentYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryCurrentFocusClients</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbFocusClientsCurrentYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmTableTitleFocusClientsCurrentYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>NO_SELECTION</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfFocusClientsCurrentYear.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-6e95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ea42&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit Specific Attribute Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-af68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientPick__c&quot;,&quot;guid&quot;:&quot;column-6433&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Focus_Clients_Found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>qcSelection.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dtbFocusClientsNextYear.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dfFocusClientsNextYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryNextYearFocusClients</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dfFocusApprovedClientsNextYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>joshdaymentlabs:dataFetcher</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>queryString</name>
                        <value>
                            <elementReference>fmQueryApprovedNextYearFocusClients</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtbFocusClientsNextYear</name>
                    <dataTypeMappings>
                        <typeName>T</typeName>
                        <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
                    </dataTypeMappings>
                    <extensionName>flowruntime:datatable</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>fmTableTitleFocusClientsNextYear</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectionMode</name>
                        <value>
                            <stringValue>MULTI_SELECT</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>minRowSelection</name>
                        <value>
                            <numberValue>0.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>tableData</name>
                        <value>
                            <elementReference>dfFocusClientsNextYear.retrievedRecords</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>columns</name>
                        <value>
                            <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-9dde&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ba29&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit Specific Attribute Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-2fac&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientNextYearPick__c&quot;,&quot;guid&quot;:&quot;column-e62f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client Next Year&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>shouldDisplayLabel</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>qcSelection.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>dfFocusApprovedClientsNextYear.firstRetrievedRecord.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>dtApproved</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt; The list of Focus Clients for {!plUser} over {!fmNextYear} is already approved&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>dfFocusApprovedClientsNextYear.firstRetrievedRecord.Id</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>qcSelection.value</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dtEmptySpace4</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dlLine2</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#808080</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrQuickChoice_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtTitleAddAccount</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(0, 51, 102); font-family: verdana;&quot;&gt;Add New Focus Client for {!fmNextYear}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>luBusinessUnitAccounts</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountRef__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>BusinessUnitSpecificAttribute__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>qcSelection.value</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtEmptySpace</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarThisYear</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Set as Focus Client(s)&quot;,&quot;value&quot;:&quot;Focus&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Remove as Focus Client(s)&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtbFocusClientsCurrentYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarNew</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Add New Account to Focus List&quot;,&quot;value&quot;:&quot;New&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:new&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>luBusinessUnitAccounts.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarNextYear</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Remove as Focus Client(s) Next Year&quot;,&quot;value&quot;:&quot;Remove&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>dtbFocusClientsNextYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dtEmptySpace2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarApproval</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Approve List&quot;,&quot;value&quot;:&quot;Approve&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>3 AND 4 AND (1 OR 2)</conditionLogic>
                <conditions>
                    <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>luBusinessUnitAccounts.recordId</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Focus_Clients_Next_Year_Found</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>dtbFocusClientsNextYear.firstSelectedRow.Id</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSuccess</name>
        <label>scrSuccess</label>
        <locationX>706</locationX>
        <locationY>3146</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ruBusinessUnitSpecificAttributes</targetReference>
        </connector>
        <fields>
            <name>diSuccess</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansTodo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDescription3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;The focus list for {!plUser} is Approved.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarApproved</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Next&quot;,&quot;value&quot;:&quot;Next&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Refresh</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarning</name>
        <label>scrWarning</label>
        <locationX>838</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsWarning</targetReference>
        </connector>
        <fields>
            <name>diWarning</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansWarning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>80</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDescription2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Is the focus list for {!plUser} ready for {!fmNextYear}, in other words can we approve the list?&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarConfirmation</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Yes&quot;,&quot;value&quot;:&quot;Yes&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;success&quot;,&quot;iconName&quot;:&quot;utility:check&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;No&quot;,&quot;value&quot;:&quot;No&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:close&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>986</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getAccountplanningTasks</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colMissingUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAdjustedRows</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
    <variables>
        <name>varApproved</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCreatedByApproved</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varNameCreatedBy</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPreviousSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRow</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BusinessUnitSpecificAttribute__c</objectType>
    </variables>
    <variables>
        <name>varUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varUserswithApprovedTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is assigned with the names (via the assignment &quot;assFocusClient&quot;) of all the users that haven&apos;t send their list of focus clients for approval.</description>
        <name>varUserswithoutApprovalTask</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
