force-app/main/default/flows/ContactChart_RTFL02_Update_ParentChartName_and_Contact_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>This flow will update on the field ParentChart Name on the ContactChart and the department field on contact when the record is created.</description>
    <environments>Default</environments>
    <interviewLabel>ContactChart - RTFL02 - Update ParentChart Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactChart - RTFL02 - Update ParentChartName and Contact Department</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>ruContact</name>
        <label>ruContact</label>
        <locationX>649</locationX>
        <locationY>550</locationY>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.albiraSolutions__Contact__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Department</field>
            <value>
                <elementReference>$Record.albiraSolutions__AccountChart__r.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>This element copies the parentchart name from the related accountchart record.</description>
        <name>ruContactChart</name>
        <label>ruContactChart</label>
        <locationX>657</locationX>
        <locationY>371</locationY>
        <connector>
            <targetReference>ruContact</targetReference>
        </connector>
        <faultConnector>
            <targetReference>subFaultConnector</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.albiraSolutions__AccountChart__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentChartNameTrig__c</field>
            <value>
                <elementReference>$Record.albiraSolutions__AccountChart__r.ParentChartNameTrig__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>531</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ruContactChart</targetReference>
        </connector>
        <filterFormula>{!$Setup.BypassSettings__c.Flows__c} = False</filterFormula>
        <object>albiraSolutions__ContactChart__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <description>This subflow connects the flow to the fault connector for better error handling.</description>
        <name>subFaultConnector</name>
        <label>subFaultConnector</label>
        <locationX>921</locationX>
        <locationY>479</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varEmailCurrentUser</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>ContactChart - RTFL02 - Update ParentChartName and Contact Department</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>ContactChart</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
</Flow>
