force-app/main/default/flows/ContactChart_RTFL02_Update_ParentChartName_and_Contact_Department.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <customErrors>
        <description>This custom error will display the error that a duplicate record will be created.</description>
        <name>ceDuplicateFound</name>
        <label>ceDuplicateFound</label>
        <locationX>884</locationX>
        <locationY>493</locationY>
        <customErrorMessages>
            <errorMessage>This contact is already connected to a department. Please remove it first and that connect it to another department.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <description>This element will check if any duplicates are found.</description>
        <name>dcsDuplicateCheck</name>
        <label>dcsDuplicateCheck</label>
        <locationX>660</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>ruContactChart</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getDuplicateContactChart</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ceDuplicateFound</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This before save record triggered flow will update the field ParentChart Name on the ContactChart and shows a custom error when a duplicate record is found.</description>
    <environments>Default</environments>
    <interviewLabel>ContactChart - RTFL02 - Update ParentChart Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ContactChart - RTFL02 - Update ParentChartName</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>This element will retrieve all contact chart record from this contact under this account.</description>
        <name>getDuplicateContactChart</name>
        <label>getDuplicateContactChart</label>
        <locationX>668</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsDuplicateCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>albiraSolutions__AccountID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.albiraSolutions__AccountID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>albiraSolutions__Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>albiraSolutions__ContactChart__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element copies the parentchart name from the related accountchart record.</description>
        <name>ruContactChart</name>
        <label>ruContactChart</label>
        <locationX>671</locationX>
        <locationY>655</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.albiraSolutions__AccountChart__r.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentChartNameTrig__c</field>
            <value>
                <elementReference>$Record.albiraSolutions__AccountChart__r.ParentChartNameTrig__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>547</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>getDuplicateContactChart</targetReference>
        </connector>
        <filterFormula>{!$Setup.BypassSettings__c.Flows__c} = False</filterFormula>
        <object>albiraSolutions__ContactChart__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
