force-app/main/default/flows/Feedback_SCFL02_Vote_on_Feedback_via_Lightning_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This assignment will add the feedback icons and description to up or downvote an idea.</description>
        <name>assFeedbackIcons</name>
        <label>assFeedbackIcons</label>
        <locationX>688</locationX>
        <locationY>182</locationY>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:like</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>utility:dislike</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Upvote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Downvote</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>You&apos;ve got my Support :) </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colDescription</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Nwah... Not my piece of Cake ;(</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrSelection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>This element checks if the voter has already voted.</description>
        <name>dcsDuplicateCheckDownVoter</name>
        <label>dcsDuplicateCheckDownVoter</label>
        <locationX>1084</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>rcFeedbackDownVote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Voted</defaultConnectorLabel>
        <rules>
            <name>DownVoted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFeedbackDownVote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFeedbackDownVote.VoteScore__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWarningDownVote</targetReference>
            </connector>
            <label>DownVoted</label>
        </rules>
        <rules>
            <name>DownVote_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFeedbackDownVote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFeedbackDownVote.VoteScore__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruVoteScoreNegative</targetReference>
            </connector>
            <label>DownVote Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks if the voter has already voted.</description>
        <name>dcsDuplicateCheckVoter</name>
        <label>dcsDuplicateCheckVoter</label>
        <locationX>292</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>rcFeedbackVote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Voted</defaultConnectorLabel>
        <rules>
            <name>Voted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFeedbackVote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFeedbackVote.VoteScore__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrWarning</targetReference>
            </connector>
            <label>Voted</label>
        </rules>
        <rules>
            <name>Vote_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getFeedbackVote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getFeedbackVote.VoteScore__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ruVoteScorePositivee</targetReference>
            </connector>
            <label>Vote Changed</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element checks which label is selected.</description>
        <name>dcsQuickChoice</name>
        <label>dcsQuickChoice</label>
        <locationX>688</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>getFeedbackDownVote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Downvote</defaultConnectorLabel>
        <rules>
            <name>Upvote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qcChoice.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upvote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getFeedbackVote</targetReference>
            </connector>
            <label>Upvote</label>
        </rules>
    </decisions>
    <description>This screen flow is placed on the lightning page and gives the user the ability to upvote or downvote an idea.</description>
    <interviewLabel>Feedback - SCFL02 - Vote on Feedback via Lightning Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Feedback - SCFL02 - Vote on Feedback via Lightning Page</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>This element will create a feedback score</description>
        <name>rcFeedbackDownVote</name>
        <label>rcFeedbackDownVote</label>
        <locationX>1348</locationX>
        <locationY>722</locationY>
        <inputAssignments>
            <field>Feedback__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoteScore__c</field>
            <value>
                <numberValue>-10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoterRef__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedbackVote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This element will create a feedback score</description>
        <name>rcFeedbackVote</name>
        <label>rcFeedbackVote</label>
        <locationX>556</locationX>
        <locationY>722</locationY>
        <assignRecordIdToReference>varFeedbackVoteId</assignRecordIdToReference>
        <connector>
            <targetReference>scrConfetti</targetReference>
        </connector>
        <inputAssignments>
            <field>Feedback__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoteScore__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VoterRef__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <object>FeedbackVote__c</object>
    </recordCreates>
    <recordLookups>
        <description>With this get we&apos;re trying to check if the current logged in user already has voted.</description>
        <name>getFeedbackDownVote</name>
        <label>getFeedbackDownVote</label>
        <locationX>1084</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsDuplicateCheckDownVoter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VoterRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Feedback__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeedbackVote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>With this get we&apos;re trying to check if the current logged in user already has voted.</description>
        <name>getFeedbackVote</name>
        <label>getFeedbackVote</label>
        <locationX>292</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsDuplicateCheckVoter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>VoterRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Feedback__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FeedbackVote__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>This element will set the score from +10 to -10.</description>
        <name>ruVoteScoreNegative</name>
        <label>ruVoteScoreNegative</label>
        <locationX>1084</locationX>
        <locationY>722</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFeedbackDownVote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VoteScore__c</field>
            <value>
                <numberValue>-10.0</numberValue>
            </value>
        </inputAssignments>
        <object>FeedbackVote__c</object>
    </recordUpdates>
    <recordUpdates>
        <description>This element will set the score from -10 to +10.</description>
        <name>ruVoteScorePositivee</name>
        <label>ruVoteScorePositivee</label>
        <locationX>292</locationX>
        <locationY>722</locationY>
        <connector>
            <targetReference>scrConfetti3</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getFeedbackVote.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>VoteScore__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <object>FeedbackVote__c</object>
    </recordUpdates>
    <screens>
        <name>scrConfetti</name>
        <label>scrConfetti</label>
        <locationX>556</locationX>
        <locationY>830</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>conf</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confettiEffect</name>
                <value>
                    <stringValue>Fireworks</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrConfetti3</name>
        <label>scrConfetti</label>
        <locationX>290</locationX>
        <locationY>872</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_conf</name>
            <extensionName>c:FlowConfettiCMP</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>confettiEffect</name>
                <value>
                    <stringValue>Fireworks</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSelection</name>
        <label>scrSelection</label>
        <locationX>688</locationX>
        <locationY>290</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsQuickChoice</targetReference>
        </connector>
        <fields>
            <name>qcChoice</name>
            <extensionName>c:fsc_quickChoiceFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>displayMode</name>
                <value>
                    <stringValue>Visual</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>numberOfColumns</name>
                <value>
                    <stringValue>1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>includeIcons</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>navOnSelect</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceIcons</name>
                <value>
                    <elementReference>colIcons</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>iconSize</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>inputMode</name>
                <value>
                    <stringValue>Dual String Collections</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceLabels</name>
                <value>
                    <elementReference>colLabels</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>style_width</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>choiceValues</name>
                <value>
                    <elementReference>colDescription</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDummy</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarning</name>
        <label>scrWarning</label>
        <locationX>28</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>diWarning</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Sorry you&apos;ve already voted on this record!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarningDownVote</name>
        <label>scrWarningDownVote</label>
        <locationX>820</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>diWarning2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Warning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>Center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageWidth</name>
                <value>
                    <stringValue>50</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtWarning2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255); font-size: 14px; font-family: verdana;&quot;&gt;Sorry you&apos;ve already downvoted on this record!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>562</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>assFeedbackIcons</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Variable to hold the Feedback__c Record Id that is being edited (via quick action or a lightning component).</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Feedback__c</objectType>
    </variables>
    <variables>
        <name>varFeedbackVoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
