force-app/main/default/flows/Focus_Client_SCFL03_Overview_of_Focus_Clients_on_Homepage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>assPrio1AccountPlanNumbers</name>
        <label>assPrio1AccountPlanNumbers</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>varPrio1AccountPlansInProgress</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio1inProgress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrio1AccountPlansApproved</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio1Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPrio2MyAccountPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPrio1AccountPlanNumbers2</name>
        <label>assPrio1AccountPlanNumbers</label>
        <locationX>314</locationX>
        <locationY>1574</locationY>
        <assignmentItems>
            <assignToReference>varPrio1AccountPlansInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrio1AccountPlansApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPrio2MyAccountPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will add the total number of Prio 1 accounts to the variable varPrio1Count.</description>
        <name>assPrio1Count</name>
        <label>assPrio1Count</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>varPrio1Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMyPrio1Customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMyPrio2Customers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPrio2AccountPlanNumbers</name>
        <label>assPrio2AccountPlanNumbers</label>
        <locationX>50</locationX>
        <locationY>2414</locationY>
        <assignmentItems>
            <assignToReference>varPrio2AccountPlansInProgress</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio2inProgress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrio2AccountPlansApproved</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio2Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPrio3MyAccountPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPrio2AccountPlanNumbers2</name>
        <label>assPrio2AccountPlanNumbers</label>
        <locationX>314</locationX>
        <locationY>2198</locationY>
        <assignmentItems>
            <assignToReference>varPrio2AccountPlansInProgress</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrio2AccountPlansApproved</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPrio3MyAccountPlans</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will add the total number of Prio 2 accounts to the variable varPrio1Count.</description>
        <name>assPrio2Count</name>
        <label>assPrio2Count</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>varPrio2Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMyPrio2Customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getMyPrio3Customers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assPrio3AccountPlanNumbers</name>
        <label>assPrio3AccountPlanNumbers</label>
        <locationX>50</locationX>
        <locationY>3038</locationY>
        <assignmentItems>
            <assignToReference>varPrio3AccountPlansInProgress</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio3inProgress</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varPrio3AccountPlansApproved</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>cfPrio3Approved</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrOverview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>This element will add the total number of Prio 3 accounts to the variable varPrio1Count.</description>
        <name>assPrio3Count</name>
        <label>assPrio3Count</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignmentItems>
            <assignToReference>varPrio3Count</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getMyPrio3Customers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getPrio1MyAccountPlans</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>cfPrio1Approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio1Approved</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_cfPrio2Approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio1MyAccountPlans</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_cfPrio2Approved.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assPrio1AccountPlanNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cfPrio1inProgress</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio1inProgress</label>
        <locationX>50</locationX>
        <locationY>1574</locationY>
        <assignNextValueToReference>currentItem_cfPrio1inProgress</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio1MyAccountPlans</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Submitted</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Draft</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>cfPrio1Approved</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cfPrio2Approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio2Approved</label>
        <locationX>50</locationX>
        <locationY>2306</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_cfPrio2Approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio2MyAccountPlans</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_cfPrio2Approved.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assPrio2AccountPlanNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cfPrio2inProgress</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio2inProgress</label>
        <locationX>50</locationX>
        <locationY>2198</locationY>
        <assignNextValueToReference>currentItem_cfPrio1inProgress</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio2MyAccountPlans</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Draft</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Submitted</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>cfPrio2Approved</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cfPrio3Approved</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio3Approved</label>
        <locationX>50</locationX>
        <locationY>2930</locationY>
        <assignNextValueToReference>currentItem_Copy_1_of_cfPrio2Approved</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio3MyAccountPlans</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Copy_1_of_cfPrio2Approved.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Approved</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>assPrio3AccountPlanNumbers</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>cfPrio3inProgress</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>cfPrio3inProgress</label>
        <locationX>50</locationX>
        <locationY>2822</locationY>
        <assignNextValueToReference>currentItem_cfPrio1inProgress</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>getPrio3MyAccountPlans</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Draft</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Submitted</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_cfPrio1inProgress.ApprovalStatusPick__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Rejected</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>cfPrio3Approved</targetReference>
        </connector>
    </collectionProcessors>
    <constants>
        <name>conPrio1AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodoRed&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio1AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansToolsRed&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio1Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio1&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodo&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTools&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio2&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodoYellow&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansToolsYellow&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio3&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <name>dcsPrio1AccountPlansFound</name>
        <label>dcsPrio1AccountPlansFound</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>assPrio1AccountPlanNumbers2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 1 Accountplans not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_1_Accountplans_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPrio1MyAccountPlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cfPrio1inProgress</targetReference>
            </connector>
            <label>Prio 1 Accountplans Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if any prio 1 customers are found.</description>
        <name>dcsPrio1CustomersFound</name>
        <label>dcsPrio1CustomersFound</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getMyPrio2Customers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 1 not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_1_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyPrio1Customers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assPrio1Count</targetReference>
            </connector>
            <label>Prio 1 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcsPrio2AccountPlansFound</name>
        <label>dcsPrio2AccountPlansFound</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <defaultConnector>
            <targetReference>assPrio2AccountPlanNumbers2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 2 Accountplans not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_2_Accountplans_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPrio2MyAccountPlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cfPrio2inProgress</targetReference>
            </connector>
            <label>Prio 2 Accountplans Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if any prio 2 customers are found.</description>
        <name>dcsPrio2CustomersFound</name>
        <label>dcsPrio2CustomersFound</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>getMyPrio3Customers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 2 not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_2_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyPrio2Customers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assPrio2Count</targetReference>
            </connector>
            <label>Prio 2 Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>dcsPrio3AccountPlansFound</name>
        <label>dcsPrio3AccountPlansFound</label>
        <locationX>182</locationX>
        <locationY>2714</locationY>
        <defaultConnector>
            <targetReference>scrOverview</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 3 Accountplans not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_3_Accountplans_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPrio3MyAccountPlans</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cfPrio3inProgress</targetReference>
            </connector>
            <label>Prio 3 Accountplans Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if any prio 2 customers are found.</description>
        <name>dcsPrio3CustomersFound</name>
        <label>dcsPrio3CustomersFound</label>
        <locationX>182</locationX>
        <locationY>1058</locationY>
        <defaultConnector>
            <targetReference>getPrio1MyAccountPlans</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prio 3 not Found</defaultConnectorLabel>
        <rules>
            <name>Prio_3_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyPrio3Customers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assPrio3Count</targetReference>
            </connector>
            <label>Prio 3 Found</label>
        </rules>
    </decisions>
    <description>This screenflow will display an overview of all the prio customers and totals for the logged in user.</description>
    <environments>Default</environments>
    <interviewLabel>Focus Client - SCFL03 - Overview of Focus Clients on Homepage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Focus Client - SCFL03 - Overview of Focus Clients on Homepage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This element will retrieve all Prio 1 customers of the logged in user.</description>
        <name>getMyPrio1Customers</name>
        <label>getMyPrio1Customers</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio1CustomersFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all Prio 2 customers of the logged in user.</description>
        <name>getMyPrio2Customers</name>
        <label>getMyPrio2Customers</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio2CustomersFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all Prio 3 customers of the logged in user.</description>
        <name>getMyPrio3Customers</name>
        <label>getMyPrio3Customers</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio3CustomersFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessUnitOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>FocusClientPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>BusinessUnitSpecificAttribute__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all the prio 1 accountplans of the logged in user.</description>
        <name>getPrio1MyAccountPlans</name>
        <label>getPrio1MyAccountPlans</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio1AccountPlansFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlanOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActiveForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientOwnerPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 1</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all the prio 2 accountplans of the logged in user.</description>
        <name>getPrio2MyAccountPlans</name>
        <label>getPrio2MyAccountPlans</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio2AccountPlansFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlanOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActiveForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientOwnerPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 2</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all the prio 3 accountplans of the logged in user.</description>
        <name>getPrio3MyAccountPlans</name>
        <label>getPrio3MyAccountPlans</label>
        <locationX>182</locationX>
        <locationY>2606</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsPrio3AccountPlansFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountPlanOwnerRef__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ActiveForm__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>FocusClientOwnerPick__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prio 3</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrOverview</name>
        <label>scrOverview</label>
        <locationX>182</locationX>
        <locationY>3230</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrOverview_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrOverview_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtPrio1</name>
                    <fieldText>&lt;p&gt;{!ttPrio1Box}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!ttPrio1AccountPlan}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrOverview_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtPrio2</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ttPrio2Box}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!ttPrio2AccountPlan}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrOverview_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>dtPrio3</name>
                    <fieldText>&lt;p&gt;{!ttPrio3Box}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!ttPrio3AccountPlan}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dtDummy</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>dtbPrio1Customers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prio 1 Customers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getMyPrio1Customers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-9da9&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-ad8f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtbPrio2Customers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prio 2 Customers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getMyPrio2Customers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-f2bb&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-584f&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtbPrio3Customers</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Prio 3 Customers</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getMyPrio3Customers</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-f2b4&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-93e7&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMyPrio1Customers</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttPrio1AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio1AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio1AccountPlansInProgress}&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio1AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio1AccountPlansApproved}&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio1Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio1Image}
    &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!varPrio1Count}&lt;/strong&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio2AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio2AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio2AccountPlansInProgress}&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio2AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio2AccountPlansApproved}&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio2Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio2Image}
    &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!varPrio2Count}&lt;/strong&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio3AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio3AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio3AccountPlansInProgress}&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio3AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;{!varPrio3AccountPlansApproved}&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio3Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio3Image}
    &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!varPrio3Count}&lt;/strong&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>currentItem_cfPrio1inProgress</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>currentItem_Copy_1_of_cfPrio2Approved</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account_Plan__c</objectType>
    </variables>
    <variables>
        <name>varPrio1AccountPlansApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio1AccountPlansInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio1Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio2AccountPlansApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio2AccountPlansInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio2Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio3AccountPlansApproved</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio3AccountPlansInProgress</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio3Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
