force-app/main/default/flows/Focus_Client_SCFL01_Focus_Client_Prioritizing_Button_Home_Page.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>This action navigates to the app Heijmans_Focus_Clients</description>
        <name>actionNavigatetoApp</name>
        <label>actionNavigatetoApp</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>FocusClients</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>tab</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>This action navigates to the app Heijmans_Focus_Clients</description>
        <name>actionNavigatetoApp_0</name>
        <label>actionNavigatetoApp</label>
        <locationX>930</locationX>
        <locationY>566</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationName</name>
            <value>
                <stringValue>FocusClients</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>tab</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>490</locationX>
        <locationY>782</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>lpThroughMyTeam</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Focus Klanten Prioriteren</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>lpThroughMyTeam.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActivityDate</name>
            <value>
                <elementReference>fmOneMonth</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Type</name>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>De tijd voor het prioriteren van onze focus klanten is weer aangekomen.  Op de startpagina in Salesforce zie je vanaf nu een knop om dit proces te starten.  Het proces is eenvoudig opgezet en laat je per focus waarde (prio 1 | prio 2 | prio 3) de huidige focus klanten zien. Je kunt eenvoudig bestaande focus klanten opnieuw aanduiden, maar het is ook mogelijk om nieuwe focus klanten toe te voegen.</stringValue>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>This element will check if an open accountplanning task is found. If so we can show a message on the homepage.</description>
        <name>dcsAccountplanningTaskAssignedFound</name>
        <label>dcsAccountplanningTaskAssignedFound</label>
        <locationX>1062</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>scrEmpty_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Assigned_Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAssignedAccountplanningTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrFocusButtononHomepage</targetReference>
            </connector>
            <label>Assigned Task Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>This element will check if any open accountplanning tasks is found. If so we can show a message on the homepage.</description>
        <name>dcsAccountplanningTasksFound</name>
        <label>dcsAccountplanningTasksFound</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>scrEmpty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAccountplanningTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrApprovalButtononHomepage</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Start_Up_Accountplanning_Period</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmFirstofSeptember</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Flow.CurrentDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>fmLastDayofYear</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getAccountplanningTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrSentTask</targetReference>
            </connector>
            <label>Start Up Accountplanning Period</label>
        </rules>
    </decisions>
    <decisions>
        <description>In this decision we will check if the logged in user has a role that contains the name &quot;Directie Infra&quot; or &quot;Commercieel Manager&quot;. Those roles are important in the focus client process.</description>
        <name>dcsLoggedinRole</name>
        <label>dcsLoggedinRole</label>
        <locationX>908</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>scrEmpty_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Directie_Infra</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.RoleDeveloperNameForm__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DirectieInfra</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccountplanningTasks</targetReference>
            </connector>
            <label>Directie Infra</label>
        </rules>
        <rules>
            <name>Commercieel_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.RoleDeveloperNameForm__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>CommercieelManager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAssignedAccountplanningTask</targetReference>
            </connector>
            <label>Commercieel Manager</label>
        </rules>
    </decisions>
    <description>This flow is showing a button on the homepage for starting the process of prioritizing the focus clients. This flow has two lanes, one for the Commercial Managers and one for the Regional Directors.</description>
    <environments>Default</environments>
    <formulas>
        <name>fmFirstofSeptember</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(TODAY()), 09, 01)</expression>
    </formulas>
    <formulas>
        <name>fmLastDayofYear</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR(Today()), 12, 31)</expression>
    </formulas>
    <formulas>
        <name>fmOneMonth</name>
        <dataType>Date</dataType>
        <expression>TODAY()+30</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Focus Client - SCFL01 - Focus Client Prioritizing Button Home Page {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Focus Client - SCFL01 - Focus Client Prioritizing Button Home Page</label>
    <loops>
        <name>lpThroughMyTeam</name>
        <label>lpThroughMyTeam</label>
        <locationX>402</locationX>
        <locationY>674</locationY>
        <collectionReference>getMyTeam</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Task</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>This element will retrieve all open accountplanning task for the logged in manager</description>
        <name>getAccountplanningTasks</name>
        <label>getAccountplanningTasks</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsAccountplanningTasksFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Niet gestart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bezig</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>This element will retrieve all open accountplanning task for the logged in manager</description>
        <name>getAssignedAccountplanningTask</name>
        <label>getAssignedAccountplanningTask</label>
        <locationX>1062</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsAccountplanningTaskAssignedFound</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 5 AND (3 OR 4)</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Niet gestart</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bezig</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getMyTeam</name>
        <label>getMyTeam</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>lpThroughMyTeam</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrApprovalButtononHomepage</name>
        <label>scrApprovalButtononHomepage</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>actionNavigatetoApp</targetReference>
        </connector>
        <fields>
            <name>diTodo</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansTodo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtApprovalMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Please check the Focus Client tab, because there are new focus clients added for approval. Please click the button below to open the &quot;Focus Client&quot; overview.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarApprovalEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Go to Approval Overview&quot;,&quot;value&quot;:&quot;Approval&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarApprovalNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>right</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Ga naar de Goedkeuringspagina&quot;,&quot;value&quot;:&quot;Approval&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:approval&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEmpty</name>
        <label>scrEmpty</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEmpty_0</name>
        <label>scrEmpty</label>
        <locationX>1194</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtNoAction</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrEmpty_0_0</name>
        <label>scrEmpty</label>
        <locationX>1458</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>dtNoAction_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;No action required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrFocusButtononHomepage</name>
        <label>scrFocusButtononHomepage</label>
        <locationX>930</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>actionNavigatetoApp_0</targetReference>
        </connector>
        <fields>
            <name>diClock2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansClock</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtFocusClientsPrio</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;The time for prioritizing our focus clients has arrived again.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Click the button below to start.&amp;nbsp;The process is simply set up and shows you per focus value (prio 1 | prio 2 | prio 3) the current focus customers. You can easily redesignate existing focus customers, but it is also possible to add new focus customers.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarFocusEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Focus Client Prioritizing&quot;,&quot;value&quot;:&quot;Focus&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarFocusNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Focus Klanten Prioritiseren&quot;,&quot;value&quot;:&quot;Focus&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:campaign&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrSentTask</name>
        <label>scrSentTask</label>
        <locationX>402</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>getMyTeam</targetReference>
        </connector>
        <fields>
            <name>diClock</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansClock</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDescriptionTask</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;The time for prioritizing our focus clients has arrived again.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;Click the button below to create a task for your team members.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;They will receive a notification and then see a new button on their home page to start this process. &lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnBarTaskEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Create Task for Teammembers&quot;,&quot;value&quot;:&quot;Task&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:task&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnBarTaskNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>above</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Creëer Taak voor Teamleden&quot;,&quot;value&quot;:&quot;Task&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:task&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageCode</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcsLoggedinRole</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Beste {!varName},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;De tijd voor het prioriteren van onze focus klanten is weer aangekomen.&lt;/p&gt;&lt;p&gt;Op de startpagina in Salesforce zie je vanaf nu een knop om dit proces te starten.&lt;/p&gt;&lt;p&gt;Het proces is eenvoudig opgezet en laat je per focus waarde (prio 1 | prio 2 | prio 3) de huidige focus klanten zien. Je kunt eenvoudig bestaande focus klanten opnieuw aanduiden, maar het is ook mogelijk om nieuwe focus klanten toe te voegen.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Succes en mochten er vragen zijn dan hoor ik ze graag.&lt;/p&gt;&lt;p&gt;De deadline is 15 november, zodat ik ook genoeg tijd heb om de lijsten te beoordelen.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Met vriendelijke groet,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$User.FullNameForm__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>varEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
