force-app/main/default/flows/Focus_Client_SCFL02_Overview_Focus_Clients_Director_Homepage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <choices>
        <name>chMyTeam</name>
        <choiceText>My Team</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>My Team</stringValue>
        </value>
    </choices>
    <constants>
        <name>conEmptyString</name>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio1AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodoRed&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio1AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansToolsRed&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio1Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio1&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodo&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTools&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio2Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio2&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3AccountPlanApproved</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansTodoYellow&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3AccountPlanProgress</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansToolsYellow&apos; width=&apos;25px&apos; height=&apos;25px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <constants>
        <name>conPrio3Image</name>
        <dataType>String</dataType>
        <value>
            <stringValue>&lt;img src=&apos;/resource/HeijmansPrio3&apos; width=&apos;60px&apos; height=&apos;60px&apos; / &gt;</stringValue>
        </value>
    </constants>
    <decisions>
        <description>This element will check if this user is added as a manager in other user profiles.</description>
        <name>dcsTeamFound</name>
        <label>dcsTeamFound</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>scrWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getMyTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrQuickChoice</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>This screenflow will display an overview of all the focus clients and totals per user and or full team.</description>
    <dynamicChoiceSets>
        <name>ccsMyTeam</name>
        <collectionReference>getMyTeam</collectionReference>
        <dataType>String</dataType>
        <displayField>FullNameForm__c</displayField>
        <object>User</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This record choice will show all users where the manager is equal to the logged in user.</description>
        <name>rcsMyTeam</name>
        <dataType>String</dataType>
        <displayField>FullNameForm__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>FullNameForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>FullNameForm__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>This record choice set is based on the tasks with type: Accountplanning and the checkbox Accountplanning activated.</description>
        <name>rcsSubmittedUsers</name>
        <dataType>String</dataType>
        <displayField>CreatedbyNameForm__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accountplanning</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsAccountplanningApproval__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Voltooid</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <sortField>CreatedbyNameForm__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>CreatedById</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>fmNextYear</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY())+1)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio1ApprovedAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 1&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 1&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio1Clients</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.ManagerId = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 1&apos;&quot;,
&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 1&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio1ClientsCount</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.ManagerId = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 1&apos;&quot;,
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 1&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio1InProgressAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 1&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 1&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio2ApprovedAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 2&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 2&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio2Clients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 2&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio2ClientsCount</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.ManagerId = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 2&apos;&quot;,
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 2&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio2InProgressAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 2&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 2&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio3ApprovedAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 3&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE ApprovalStatusPick__c = &apos;Approved&apos; AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 3&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio3Clients</name>
        <dataType>String</dataType>
        <expression>&quot;SELECT Id, AccountNameForm__c, Name, StatusPick__c, FocusClientPick__c FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 3&apos;&quot;</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio3ClientsCount</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.ManagerId = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 3&apos;&quot;,
&quot;SELECT COUNT(Id) FROM BusinessUnitSpecificAttribute__c WHERE BusinessUnitOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientPick__c = &apos;Prio 3&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmQueryPrio3InProgressAccountPlans</name>
        <dataType>String</dataType>
        <expression>IF ({!plUser} = {!chMyTeam},
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!$User.Id} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 3&apos;&quot;,
&quot;SELECT COUNT(Id) FROM Account_Plan__c WHERE (ApprovalStatusPick__c = &apos;Draft&apos; OR ApprovalStatusPick__c = &apos;Submitted&apos; ) AND AccountPlanOwnerRef__r.Name = &apos;&quot; + {!plUser} + &quot;&apos; AND FocusClientOwnerPick__c = &apos;Prio 3&apos;&quot;)</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsPrio1</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, {!plUser}  + &quot; - &quot; + &apos;Prio 1&apos; + &quot; focus klanten voor &quot; + {!fmThisYearText}, {!plUser} + &quot; - &quot; + &apos;Prio 1&apos;+ &quot; focus clients for &quot; + {!fmThisYearText})</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsPrio2</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, {!plUser}  + &quot; - &quot; + &apos;Prio 2&apos; + &quot; focus klanten voor &quot; + {!fmNextYear}, {!plUser}  + &quot; - &quot; + &apos;Prio 2&apos; + &quot; focus clients for &quot; + {!fmNextYear})</expression>
    </formulas>
    <formulas>
        <name>fmTableTitleFocusClientsPrio3</name>
        <dataType>String</dataType>
        <expression>IF ({!fmUserLanguageCode} = &apos;nl_NL&apos;, {!plUser}  + &quot; - &quot; + &apos;Prio 3&apos; + &quot; focus klanten voor &quot; + {!fmNextYear}, {!plUser}  + &quot; - &quot; + &apos;Prio 3&apos; + &quot; focus clients for &quot; + {!fmNextYear})</expression>
    </formulas>
    <formulas>
        <name>fmTaskMessage</name>
        <dataType>String</dataType>
        <expression>&quot;Beste &quot; + {!$User.ManagerFullName__c} + &quot;,&quot; + br() + br() +
&quot;Mijn lijst met focus klanten voor &quot; + {!fmNextYear} + &quot;staat klaar voor accordering. Kun je deze s.v.p beoordelen?&quot;</expression>
    </formulas>
    <formulas>
        <name>fmTaskSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Goedkeuring focus klanten: &quot; + {!fmNextYear} + &quot; - &quot; + {!$User.FullNameForm__c}</expression>
    </formulas>
    <formulas>
        <name>fmThisYearText</name>
        <dataType>String</dataType>
        <expression>TEXT (YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fmTwoWeeks</name>
        <dataType>Date</dataType>
        <expression>TODAY()+14</expression>
    </formulas>
    <formulas>
        <description>Extracts this user language code from the current user.</description>
        <name>fmUserLanguageCode</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Focus Client - SCFL02 - Overview Focus Clients Director Homepage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Focus Client - SCFL02 - Overview Focus Clients Director Homepage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getMyTeam</name>
        <label>getMyTeam</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsTeamFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ManagerId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrQuickChoice</name>
        <label>scrQuickChoice</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>scrQuickChoice_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>plUser</name>
                    <choiceReferences>rcsMyTeam</choiceReferences>
                    <choiceReferences>chMyTeam</choiceReferences>
                    <dataType>String</dataType>
                    <defaultSelectedChoiceReference>chMyTeam</defaultSelectedChoiceReference>
                    <fieldText>User</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrQuickChoice_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diPrio1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansPrio1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtPrio1Count</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfPrio1Clients.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diPrio2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansPrio2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtPrio2Count</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfPrio2Clients.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diPrio3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansPrio3</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>80</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtPrio3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfPrio3Clients.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrQuickChoice_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrQuickChoice_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diInProgressPrio1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansToolsRed</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtApprovedPrio1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfAccountPlanInProgressPrio1.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>diApprovedPrio1</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansTodoRed</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtInProgressPrio1</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfAccountPlanIApprovedPrio1.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diInProgressPrio2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansTools</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtApprovedPrio2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-family: verdana;&quot;&gt;{!dfAccountPlanInProgressPrio2.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>diApprovedPrio2</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansTodo</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtInProgressPrio2</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!dfAccountPlanIApprovedPrio2.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrQuickChoice_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>diInProgressPrio3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansToolsYellow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtApprovedPrio3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!dfAccountPlanInProgressPrio3.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>diApprovedPrio3</name>
                    <extensionName>flowruntime:image</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>imageName</name>
                        <value>
                            <stringValue>HeijmansTodoYellow</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>horizontalAlignment</name>
                        <value>
                            <stringValue>center</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>imageHeight</name>
                        <value>
                            <stringValue>30</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>dtInProgressPrio3</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: verdana;&quot;&gt;{!dfAccountPlanIApprovedPrio3.aggQueryResult}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dlLine1</name>
            <extensionName>c:fsc_drawLine</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>marginBottom</name>
                <value>
                    <stringValue>xxx-small</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>color</name>
                <value>
                    <stringValue>#808080</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfPrio1Clients</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>fmQueryPrio1Clients</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio1ClientsCount</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanInProgressPrio1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio1InProgressAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanIApprovedPrio1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio1ApprovedAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtbFocusClientsPrio1</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>fmTableTitleFocusClientsPrio1</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dfPrio1Clients.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-6e95&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-ea42&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Business Unit&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit Specific Attribute Name&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-af68&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientPick__c&quot;,&quot;guid&quot;:&quot;column-6433&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfPrio2Clients</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio2ClientsCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>fmQueryPrio2Clients</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanInProgressPrio2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio2InProgressAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanIApprovedPrio2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio2ApprovedAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtbFocusClientsPrio2</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>fmTableTitleFocusClientsPrio2</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dfPrio2Clients.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-b5f5&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BusinessUnit__c&quot;,&quot;guid&quot;:&quot;column-4216&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-0efd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientPick__c&quot;,&quot;guid&quot;:&quot;column-3fd3&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfPrio3Clients</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio3ClientsCount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>queryString</name>
                <value>
                    <elementReference>fmQueryPrio3Clients</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanInProgressPrio3</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio2InProgressAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dfAccountPlanIApprovedPrio3</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Account_Plan__c</typeValue>
            </dataTypeMappings>
            <extensionName>joshdaymentlabs:dataFetcher</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>aggQueryString</name>
                <value>
                    <elementReference>fmQueryPrio3ApprovedAccountPlans</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtbFocusClientsPrio3</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>BusinessUnitSpecificAttribute__c</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>fmTableTitleFocusClientsPrio3</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>dfPrio3Clients.retrievedRecords</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;AccountNameForm__c&quot;,&quot;guid&quot;:&quot;column-9219&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Account Name&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Account Name&quot;,&quot;type&quot;:&quot;customRichText&quot;},{&quot;apiName&quot;:&quot;BusinessUnit__c&quot;,&quot;guid&quot;:&quot;column-237d&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Business Unit&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;StatusPick__c&quot;,&quot;guid&quot;:&quot;column-13cd&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:2,&quot;label&quot;:&quot;Status&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;FocusClientPick__c&quot;,&quot;guid&quot;:&quot;column-e36a&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:3,&quot;label&quot;:&quot;Focus Client&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrWarning</name>
        <label>scrWarning</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>diWarning</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansWarning</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>60</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtWarning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;There are no employees set with you as a manager. Please contact the System Administrator or ask your &lt;/span&gt;colleague to set you as a manager in his / her profile.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getMyTeam</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ttPrio1AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio1AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio1AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER COUNT&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio1Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio1Image}
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio2AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio2AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio2AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio2Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio2Image}
    &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!varPrio2Count}&lt;/strong&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio3AccountPlan</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
    &lt;strong style=&quot;font-size: 18px;&quot;&gt;Account Plans&lt;/strong&gt;
    &lt;table border=&quot;0&quot; cellpadding=&quot;1&quot; cellspacing=&quot;1&quot; style=&quot;width:200px; margin: 0 auto;&quot;&gt;
        &lt;tbody&gt;
            &lt;tr&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio3AccountPlanProgress} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER&lt;/span&gt;&lt;/td&gt;
                &lt;td style=&quot;text-align: center;&quot;&gt;{!conPrio3AccountPlanApproved} &lt;span style=&quot;font-size: 18px;&quot;&gt;DATAFETCHER&lt;/span&gt;&lt;/td&gt;
            &lt;/tr&gt;
        &lt;/tbody&gt;
    &lt;/table&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>ttPrio3Box</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;div class=&quot;slds-box&quot; style=&quot;text-align: center;&quot;&gt;
&lt;strong style=&quot;font-size: 22px;&quot;&gt;Prio&lt;/strong&gt;
    {!conPrio3Image}
    &lt;strong style=&quot;font-size: 22px;&quot;&gt;{!varPrio3Count}&lt;/strong&gt;
&lt;/div&gt;</text>
    </textTemplates>
    <variables>
        <name>colDescription</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colMissingUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varPrio1Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio2Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>varPrio3Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
