force-app/main/default/flows/Partnerships_STFL01_Set_Partnership_to_Inactive.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <description>Assigns the inactive values and End Date to the record.</description>
        <name>assSetInvolvedPartnerInactive</name>
        <label>assSetInvolvedPartnerInactive</label>
        <locationX>138</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>lpActiveInvolvedPartners.EndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fmToday</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>lpActiveInvolvedPartners.IsActive__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rcInactiveInvolvedPartners</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>lpActiveInvolvedPartners</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lpActiveInvolvedPartners</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Check if the end date is equal or less than today (flow runtime)</description>
        <name>dcsEndDateLessOrEqualToday</name>
        <label>dcsEndDateLessOrEqualToday</label>
        <locationX>798</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>No Action</defaultConnectorLabel>
        <rules>
            <name>End_Date_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>fmToday</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllActiveInvolvedPartners</targetReference>
            </connector>
            <label>End Date Reached</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if records where found during the previous Query.</description>
        <name>dcsRecordsFound</name>
        <label>dcsRecordsFound</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <defaultConnector>
            <targetReference>ruSetPartnershipToInactive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getAllActiveInvolvedPartners</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lpActiveInvolvedPartners</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <description>Schedule to set partnerships and related Involved Partners to Inactive when the end date is equal to runtime.</description>
    <environments>Default</environments>
    <formulas>
        <description>Updates the record name with a red X</description>
        <name>fmSetNewRecordName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &apos; ❌ &apos;</expression>
    </formulas>
    <formulas>
        <description>Formula that generates the date of today</description>
        <name>fmToday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Partnerships - STFL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partnerships - STFL01 - Set Partnership to Inactive</label>
    <loops>
        <name>lpActiveInvolvedPartners</name>
        <label>lpActiveInvolvedPartners</label>
        <locationX>50</locationX>
        <locationY>576</locationY>
        <collectionReference>getAllActiveInvolvedPartners</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assSetInvolvedPartnerInactive</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ruInvolvedPartners</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Gets all the Involved Partners with an active status and no end-date</description>
        <name>getAllActiveInvolvedPartners</name>
        <label>getAllActiveInvolvedPartners</label>
        <locationX>314</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>dcsRecordsFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcErrorInvolvedPartners</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InvolvedPartner__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Updates the involved Partners with new values.</description>
        <name>ruInvolvedPartners</name>
        <label>ruInvolvedPartners</label>
        <locationX>50</locationX>
        <locationY>876</locationY>
        <connector>
            <targetReference>ruSetPartnershipToInactive</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcErrorInvolvedPartnersUpdate</targetReference>
        </faultConnector>
        <inputReference>rcInactiveInvolvedPartners</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Sets the Partnership record to inactive.</description>
        <name>ruSetPartnershipToInactive</name>
        <label>ruSetPartnershipToInactive</label>
        <locationX>314</locationX>
        <locationY>1308</locationY>
        <faultConnector>
            <targetReference>fcErrorPartnershipUpdate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>IsActive__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>fmSetNewRecordName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dcsEndDateLessOrEqualToday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Partnership__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-11-06</startDate>
            <startTime>00:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>fcErrorInvolvedPartners</name>
        <label>fcErrorInvolvedPartners</label>
        <locationX>1018</locationX>
        <locationY>468</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Partnerships - STFL01 - Set Partnership to Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Involved Partners</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>fcErrorInvolvedPartnersUpdate</name>
        <label>fcErrorInvolvedPartnersUpdate</label>
        <locationX>314</locationX>
        <locationY>984</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>$Flow.CurrentStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Partnerships - STFL01 - Set Partnership to Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Partnerships</stringValue>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>fcErrorPartnershipUpdate</name>
        <label>fcErrorPartnershipUpdate</label>
        <locationX>754</locationX>
        <locationY>1416</locationY>
        <flowName>FAULT_CONNECTOR</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Partnerships - STFL01 - Set Partnership to Inactive</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Partnerships</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Set of records with inactive involved partners</description>
        <name>rcInactiveInvolvedPartners</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InvolvedPartner__c</objectType>
    </variables>
</Flow>
