force-app/main/default/flows/Signal_SCFL01_Delete_Signal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>actNavigateToObject</name>
        <label>actNavigateToObject</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.AccountRef__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <description>Navigates to the current record.</description>
        <name>actNavigateToRecord</name>
        <label>actNavigateToRecord</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <description>Check what option the user selected</description>
        <name>dcsUserOptionSelected</name>
        <label>dcsUserOptionSelected</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Stop</defaultConnectorLabel>
        <rules>
            <name>Perform_Delete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>btnDeleteCheckEN.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>btnDeleteCheckNL.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Delete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>rdDeleteSignal</targetReference>
            </connector>
            <label>Perform Delete</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if the user is the owner of this record.</description>
        <name>dscIsUserRecordOwner</name>
        <label>dscIsUserRecordOwner</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>scrNotTheOwner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not the Record Owner</defaultConnectorLabel>
        <rules>
            <name>Is_Record_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fmUserIsRecordOwner</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDeleteRecordCheck</targetReference>
            </connector>
            <label>Is Record Owner</label>
        </rules>
    </decisions>
    <description>Screenflow used as button that delete a signal record that is owner by the flow user.</description>
    <environments>Default</environments>
    <formulas>
        <name>fmUserIsRecordOwner</name>
        <dataType>Boolean</dataType>
        <expression>CASESAFEID( {!$User.Id} ) = {!recordId.Owner:User.Id}</expression>
    </formulas>
    <formulas>
        <description>Extracts the User Language that runs the flow.</description>
        <name>fmUserLanguageKey</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.LanguageLocaleKey})</expression>
    </formulas>
    <interviewLabel>Signal - SCFL01 - Delete Signal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Signal - SCFL01 - Delete Signal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <description>Deletes the signal for the user.</description>
        <name>rdDeleteSignal</name>
        <label>rdDeleteSignal</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>scrSuccesfulDelete</targetReference>
        </connector>
        <faultConnector>
            <targetReference>fcErrorUponDelete</targetReference>
        </faultConnector>
        <inputReference>recordId</inputReference>
    </recordDeletes>
    <screens>
        <description>Ask the user of they want to delete this record.</description>
        <name>scrDeleteRecordCheck</name>
        <label>scrDeleteRecordCheck</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>dcsUserOptionSelected</targetReference>
        </connector>
        <fields>
            <name>diLogoHeijmans1</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtDeleteRecordCheck</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;You&apos;re about the delete this signal. Are you sure?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnDeleteCheckEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Cancel&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Delete&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnDeleteCheckNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Verwijderen&quot;,&quot;value&quot;:&quot;Delete&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;destructive&quot;,&quot;iconName&quot;:&quot;utility:delete&quot;,&quot;index&quot;:0},{&quot;label&quot;:&quot;Stop&quot;,&quot;value&quot;:&quot;Cancel&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:1}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Shows that the current flow user is not the record owner.</description>
        <name>scrNotTheOwner</name>
        <label>scrNotTheOwner</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>actNavigateToRecord</targetReference>
        </connector>
        <fields>
            <name>diHeijmansLogo2</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtNotAllowedToDelete</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;You&apos;re not allowed to delete this record. Only the owner of this record is allowed to delete this record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnEndOperationEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;End&quot;,&quot;value&quot;:&quot;End&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnEndOperationNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Stop&quot;,&quot;value&quot;:&quot;End&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>User successfully delete the record.</description>
        <name>scrSuccesfulDelete</name>
        <label>scrSuccesfulDelete</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>actNavigateToObject</targetReference>
        </connector>
        <fields>
            <name>HeijmansLogo3</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>HeijmansLogo</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>25</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>dtSuccessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: verdana;&quot;&gt;You&apos;ve successfully delete this record. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>btnSuccesEN</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;End&quot;,&quot;value&quot;:&quot;End&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>btnSuccesNL</name>
            <extensionName>c:fsc_flowButtonBar</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>alignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>orientation</name>
                <value>
                    <stringValue>horizontal</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showLines</name>
                <value>
                    <stringValue>neither</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>actionMode</name>
                <value>
                    <stringValue>navigation</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>buttons</name>
                <value>
                    <stringValue>[{&quot;label&quot;:&quot;Stop&quot;,&quot;value&quot;:&quot;End&quot;,&quot;iconPosition&quot;:&quot;left&quot;,&quot;variant&quot;:&quot;brand&quot;,&quot;iconName&quot;:&quot;utility:stop&quot;,&quot;index&quot;:0}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>fmUserLanguageKey</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>nl_NL</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>dscIsUserRecordOwner</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>fcErrorUponDelete</name>
        <label>fcErrorUponDelete</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <flowName>FAULT_CONNECTOR_SCREENFLOW</flowName>
        <inputAssignments>
            <name>varErrorLocation</name>
            <value>
                <elementReference>rdDeleteSignal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowFaultMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varFlowName</name>
            <value>
                <stringValue>Signal - SCFL01 - Delete Signal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varNameCurrentUser</name>
            <value>
                <elementReference>$User.FullNameForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varObject</name>
            <value>
                <stringValue>Signal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>varRecordId</name>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <description>Record Id of the Signal</description>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Signal__c</objectType>
    </variables>
    <variables>
        <name>varIdCheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
